# Read data from bigquery and write them in GCS

Original data from public dataset in bigquery: bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018.

* create query to clean data and keep only columns I need
* create bigquery dataset within `event-driven-ml` project
* save dataset as partitioned csv in GCS (I don't know if I need this step yet)

In [1]:
from google.cloud import bigquery as bq

In [2]:
bq_client = bq.Client()

In [3]:
import os
PROJECT = 'event-driven-ml'    # CHANGE THIS
BUCKET = 'edml/data/taxi-trips' # REPLACE WITH YOUR BUCKET NAME. Use a regional bucket in the region you selected.
REGION = 'eu' # Choose an available region for Cloud MLE from https://cloud.google.com/ml-engine/docs/regions.

# for bash
os.environ['PROJECT'] = PROJECT
os.environ['BUCKET'] = BUCKET
os.environ['REGION'] = REGION

In [4]:
%%bash
gcloud config set project $PROJECT

Updated property [core/project].
WARNING: You do not appear to have access to project [event-driven-ml] or it does not exist.

## TRAINING SET

In [10]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_train \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT GENERATE_UUID() as uuid, dayofweek, hourofday, pickup_borough, dropoff_borough, trip_duration FROM
(SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) -1 AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0.0
    AND trip_distance < 3000.0
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) < 8
) AS trips

INNER JOIN
(SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS pickup_borough FROM 
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS pu_zones
ON trips.pickup_location_id = pu_zones.zone_id

INNER JOIN (SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS dropoff_borough FROM
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS do_zones
ON trips.dropoff_location_id = do_zones.zone_id'

+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
|                 uuid                 | dayofweek | hourofday | pickup_borough | dropoff_borough | trip_duration |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
| 3997a3fc-b655-4557-bf5e-525fe965e739 |         6 |         1 | Manhattan      | Brooklyn        |            31 |
| bf8b465f-c2df-4e2a-920e-50e7ca2509ac |         3 |        13 | Manhattan      | Brooklyn        |            37 |
| 63fae36d-7d79-4447-aa30-76973e0fb3a6 |         6 |        20 | Manhattan      | Brooklyn        |            29 |
| 42cc9786-6428-4d15-8346-d8d32f2eb207 |         3 |        18 | Queens         | Manhattan       |            54 |
| b81834ae-e662-42df-ad70-dcf14dc97946 |         1 |         9 | Manhattan      | Queens          |            49 |
| 9737eb18-9fe9-4a82-bb8c-6a5735c43f2e |         5 |        16 | Manhattan      | Queens          |            41 |
| 71f94c53-ebd3-439b-8d54-406418b7dd87 |         2 |        11 | Manhattan      | Manhattan       |            26 |
| 577ab0a2-c25e-4716-8e31-96cc896179d0 |         0 |        14 | Manhattan      | Queens          |            24 |
| 1c5d63df-5bd5-4e07-b4e4-9067199860ad |         5 |         2 | Manhattan      | Brooklyn        |            22 |
| 3a3d17f7-499c-43a2-9a93-6e71441523df |         2 |        14 | Queens         | Manhattan       |            28 |
| 6c755e4b-5503-4971-b4ff-d05c97390d00 |         4 |        12 | Manhattan      | Queens          |            21 |
| eeabc5bb-d114-4f79-a040-2c9607b270e0 |         5 |        16 | Manhattan      | Manhattan       |            30 |
| 40825b67-847d-437b-bee9-1fc6921cdbf3 |         0 |         7 | Manhattan      | Queens          |            19 |
| e8587287-65af-40d5-af25-2fae5b25bcb4 |         4 |        23 | Queens         | Manhattan       |            15 |
| c0c9766e-8360-4df3-9d65-06161e265f05 |         6 |        12 | Bronx          | Bronx           |            37 |
| 1bfc738b-db8d-495a-91f8-74e3dfa63cf4 |         4 |        12 | Manhattan      | Manhattan       |            47 |
| 161fba30-9398-4fba-a3d4-9b77a28c3706 |         4 |        23 | Manhattan      | Manhattan       |            38 |
| b1ef3e73-9c57-4ed9-af06-3404992a7fbd |         1 |        21 | Queens         | Manhattan       |            25 |
| def41408-e476-49e1-bd0b-3b47deb6c990 |         3 |        18 | Queens         | Manhattan       |            42 |
| 5d47b9e8-8e93-4149-bebd-196b9e007ff3 |         3 |        13 | Queens         | Manhattan       |            27 |
| 4d3d3a5e-312e-49d0-8346-11395a4e06dd |         4 |        15 | Manhattan      | Queens          |            34 |
| f0fd5ff8-248f-406c-ae02-bfc53cff0251 |         2 |        20 | Queens         | Manhattan       |            20 |
| cd72294b-f65e-4208-8618-b051115eb461 |         6 |        22 | Manhattan      | Manhattan       |             1 |
| 05fb32e9-8980-4bc6-b439-369037129844 |         2 |        21 | Queens         | Manhattan       |            18 |
| b9cc87db-c1e0-4db7-8a0a-952d755a6155 |         2 |        12 | Manhattan      | Brooklyn        |            33 |
| 29cc6915-2455-4885-9435-556493bc3a52 |         0 |        17 | Queens         | Manhattan       |            42 |
| 6aa2781c-f094-424e-8b6a-681c89aac1ef |         3 |         9 | Queens         | Manhattan       |            36 |
| 841b63c2-8ca0-41c0-afa7-f3e2a1465e0d |         1 |        23 | Manhattan      | Brooklyn        |            22 |
| 7feea7ac-f608-41b4-9377-91401da3afff |         0 |        15 | Manhattan      | Manhattan       |            43 |
| 738b9753-acbd-485c-aeb6-610737b18a6d |         5 |        17 | Queens         | Manhattan       |            73 |
| 1184274d-7716-4e1f-b716-f8603b7c5b79 |         0 |         0 | Manhattan      | Brooklyn        |            42 |
| 2199c90c-0f8b-48fe-9efa-596808695273 |         2 |        23 | Queens         | Manhattan       |            17 |
| dd661303-92f7-4a98-a473-f956bbbcac96 |         0 |        13 | Manhattan      | Manhattan       |            37 |
| 9323a4cf-fac1-4f7d-9001-69ee3496e6b8 |         2 |        19 | Manhattan      | Brooklyn        |            33 |
| c6003c6b-9641-4449-b821-f1198d41ae93 |         3 |        21 | Queens         | Brooklyn        |            23 |
| 29cebec9-b630-4d7f-96b3-38d1bd7e91ec |         5 |        12 | Manhattan      | Manhattan       |            25 |
| bb7bf48f-1b15-4fa9-b330-485dab873def |         6 |        17 | Manhattan      | Manhattan       |            39 |
| 83239d3e-bb31-4889-8308-7c3c3a42238a |         2 |        15 | Manhattan      | Manhattan       |            33 |
| d69f456d-e7f2-44f9-9b09-3c213f3192c2 |         4 |        21 | Manhattan      | Brooklyn        |            30 |
| f93814c6-7e34-4df4-845a-0ac13f08e6ad |         0 |        18 | Queens         | Manhattan       |            21 |
| 8223bb01-c7ed-4507-b8c6-88316ce014ff |         1 |        19 | Manhattan      | Manhattan       |            16 |
| b229615b-ed0c-4e86-b648-6ee63905da67 |         5 |         9 | Manhattan      | Manhattan       |            41 |
| ea7d2945-3e39-4978-aa94-8c10e1eb1af4 |         3 |        13 | Queens         | Manhattan       |            44 |
| 7579c26c-53d1-4ae8-9b9f-09c4b63b2373 |         0 |        16 | Queens         | Manhattan       |            32 |
| ea176eb3-9b72-49d9-966e-9bbc0c75ad66 |         2 |         0 | Manhattan      | Manhattan       |            17 |
| dad8f249-7e85-4d65-8c3c-527a91bf73ac |         5 |         8 | Queens         | Queens          |            32 |
| b8e334de-ffd5-4d68-b3c1-b1914336f973 |         6 |        22 | Manhattan      | Brooklyn        |            29 |
| b1501671-7d6b-483b-a58b-af287fe8f6dd |         4 |        23 | Manhattan      | Bronx           |            26 |
| 04e08df5-bf0f-4faa-ade6-a0f229bb00c0 |         2 |        23 | Manhattan      | Queens          |            23 |
| 6d71c6d0-96cb-4caa-9002-290d3bfe25d7 |         1 |        22 | Manhattan      | Manhattan       |            25 |
| 36665ecd-b530-486b-922c-7572b8722c0d |         5 |        11 | Manhattan      | Queens          |            33 |
| 459846ff-ead8-4b03-b2cc-b00fabc54ee5 |         5 |        21 | Queens         | Manhattan       |            32 |
| 76e3388e-9641-46a7-8aed-cf96079efbb5 |         5 |        18 | Queens         | Manhattan       |            40 |
| fad175a5-2605-4338-9eb9-86e3f7317162 |         3 |        22 | Queens         | Manhattan       |            25 |
| 4ae41b2b-101e-406e-a38a-370909ccaacb |         6 |         3 | Manhattan      | Manhattan       |            23 |
| 5bf3924e-3afc-4b00-84b8-a54a8f9e869e |         3 |        21 | Manhattan      | Manhattan       |          1437 |
| 137b8030-60f5-4ecc-9221-1ea6fa947d9e |         3 |         0 | Manhattan      | Bronx           |            25 |
| 28c5a4dd-7ad6-4e83-908e-a0c3f2dcda58 |         3 |        21 | Manhattan      | Brooklyn        |            26 |
| 073c9ddd-8940-494e-914a-101d76d99c3c |         6 |        10 | Queens         | Manhattan       |            32 |
| e96f4df4-04f5-4c69-b43a-6edc916f3fc5 |         3 |        22 | Manhattan      | Queens          |            33 |
| 5296d816-876d-491a-9d95-8228e6556f7a |         2 |        22 | Manhattan      | Manhattan       |             1 |
| 1b5b5a71-3af1-4ab9-b679-16d28333f459 |         3 |         9 | Queens         | Queens          |            23 |
| 2e691f0b-fd16-48a3-8da3-ba2b2eda76c0 |         2 |         8 | Manhattan      | Manhattan       |            35 |
| db94b466-787c-4211-a1a4-de13c8da4d97 |         3 |        19 | Queens         | Brooklyn        |            38 |
| 0e49abf1-b024-4f76-b850-fd6508bf71bb |         0 |        18 | Manhattan      | Manhattan       |            35 |
| 3ef102ad-c178-4d57-98f6-a316e9c8d42e |         5 |         3 | Manhattan      | Brooklyn        |            29 |
| 45db9cc1-d842-4fd4-b4c1-beebf26679d0 |         3 |        22 | Manhattan      | Manhattan       |            21 |
| 68d615b0-9030-44e3-a65b-bcdfb086eb6f |         5 |         0 | Manhattan      | Manhattan       |            24 |
| bac6b86a-5257-4e58-a405-5a95f20f8978 |         6 |        16 | Queens         | Manhattan       |            39 |
| ab5275b9-3c71-4c5a-9212-7c0fa5cd8031 |         5 |         9 | Manhattan      | Queens          |            40 |
| 44a43448-d1e1-419c-861b-143dcb963de3 |         5 |        12 | Manhattan      | Queens          |            29 |
| 8c417375-76c6-4ff7-990b-930e542f5ebf |         6 |        23 | Manhattan      | Brooklyn        |            27 |
| 5ee2e907-7f6d-4a21-8a81-2dd2617a3d33 |         3 |        15 | Manhattan      | Manhattan       |            40 |
| 73113d23-be6d-4c89-bec2-922be1f0f2c0 |         1 |        16 | Manhattan      | Bronx           |            55 |
| 2aaac27a-7034-4980-8735-9a8d92406bf2 |         0 |        16 | Manhattan      | Queens          |            30 |
| cf01843d-37cd-4361-9306-fe6426416abc |         4 |        19 | Queens         | Manhattan       |            33 |
| c816cd77-3447-4c55-a1d8-d55232d531e6 |         4 |        21 | Manhattan      | Manhattan       |             2 |
| 7ce87c57-4c8b-4d67-8948-f8a9e5ddbff8 |         3 |         6 | Manhattan      | Queens          |            36 |
| f443676c-e4e4-4e51-bba0-e112a2b3cd5c |         0 |        21 | Manhattan      | Manhattan       |            17 |
| 45f99889-cb7f-43d6-8b9d-79fab2760b25 |         3 |        19 | Manhattan      | Brooklyn        |            38 |
| a04b1f3a-5c72-47f9-b5f0-15512d183403 |         5 |        11 | Manhattan      | Brooklyn        |            69 |
| 385695b0-2d57-4897-8387-c60a80b5c655 |         5 |        22 | Manhattan      | Manhattan       |            21 |
| 64820c9d-b849-4c36-9616-a89acbdb58f4 |         6 |        15 | Queens         | Queens          |            31 |
| 0992171f-a985-4548-8d3e-23f794324023 |         5 |        14 | Manhattan      | Queens          |            60 |
| 44ba908c-3ac3-4ade-a1aa-bcac195cc4fe |         5 |        15 | Manhattan      | Manhattan       |            44 |
| be013711-6aab-4a27-9b01-00a48c4347a7 |         3 |        17 | Manhattan      | Manhattan       |            44 |
| 8c5fa0a9-5449-422a-bb86-d9466b1320e4 |         3 |        15 | Manhattan      | Brooklyn        |            54 |
| 5d5f22a9-b33b-4231-bb8a-7614f87c6107 |         5 |        19 | Manhattan      | Manhattan       |            27 |
| edf9dee2-0331-4ef1-a716-a221e920cbaa |         6 |        22 | Manhattan      | Brooklyn        |            57 |
| 805cb053-bedc-4f69-ae19-1c15387f6125 |         6 |         7 | Queens         | Brooklyn        |            23 |
| 351de9ca-d854-4f1b-ae9c-3a99419710df |         0 |        13 | Manhattan      | Manhattan       |            26 |
| e3c6972f-3cc2-4c82-9911-db04cf217e47 |         6 |         0 | Manhattan      | Brooklyn        |            31 |
| 0f6a83b5-08ab-4c48-96a5-e1ee4d4d572f |         5 |        10 | Manhattan      | Manhattan       |            25 |
| 02109b31-24a4-431d-94f6-2d3e9babd71d |         4 |        15 | Queens         | Manhattan       |           124 |
| 14a5b2fc-e8cf-47c3-a8c3-fbda745041a5 |         2 |        20 | Manhattan      | Manhattan       |            23 |
| c452b1bc-9a1c-4377-ba47-2d3bd3401c34 |         2 |        15 | Manhattan      | Manhattan       |            23 |
| 8a4b8116-bd61-4ef2-8672-3cd8ddee8eba |         1 |         5 | Manhattan      | Queens          |            17 |
| 8e439ab4-238c-4a4d-a94d-6bad798f3cf9 |         6 |        13 | Manhattan      | Manhattan       |            35 |
| bbde7d4b-d29a-4d23-936c-56ddcd126fc2 |         2 |        18 | Manhattan      | Manhattan       |            33 |
| 8fd537c0-72e3-41ef-a9e1-77a50201c2d9 |         5 |         3 | Manhattan      | Brooklyn        |            27 |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+

Waiting on bqjob_r374923bca1d2487d_0000016e41eab3e4_1 ... (87s) Current status: DONE

In [11]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_train' gs://$BUCKET/train/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_r1a6e0c4a34fe586b_0000016e41ece2b4_1 ... (67s) Current status: DONE

## TEST SET

In [12]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_test \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT GENERATE_UUID() as uuid, dayofweek, hourofday, pickup_borough, dropoff_borough, trip_duration FROM
(SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) -1 AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0.0
    AND trip_distance < 3000.0
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) = 8
) AS trips

INNER JOIN
(SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS pickup_borough FROM 
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS pu_zones
ON trips.pickup_location_id = pu_zones.zone_id

INNER JOIN (SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS dropoff_borough FROM
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS do_zones
ON trips.dropoff_location_id = do_zones.zone_id'

+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
|                 uuid                 | dayofweek | hourofday | pickup_borough | dropoff_borough | trip_duration |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
| 97a55009-d21b-413a-bfc2-99bd69a9f117 |         5 |         1 | Queens         | Queens          |            25 |
| 04f5b556-1f4a-4582-8cbc-aa46dfcc1e96 |         1 |        19 | Queens         | Manhattan       |            50 |
| 807b53c8-2f1e-4589-a549-2ff1be66922f |         3 |        13 | Manhattan      | Manhattan       |            20 |
| 16f5bf7d-e9d0-40f0-a59e-dfd1c84aaf6d |         5 |         5 | Manhattan      | Queens          |            20 |
| b00a8853-0846-4f09-97aa-5511883cbfc7 |         3 |        17 | Manhattan      | EWR             |            74 |
| 0cdb3806-195b-4d5a-864a-598470c4a4f4 |         2 |        21 | Manhattan      | Brooklyn        |            25 |
| 0a970c8a-1a53-4efe-b015-c3812a0e4cee |         6 |        16 | Manhattan      | Manhattan       |            37 |
| 8c3a62ef-35ed-4014-a86b-72f17f7e56c8 |         1 |        20 | Manhattan      | Manhattan       |            14 |
| e2a46705-21cc-4b93-969d-dae23f8091cb |         2 |        10 | Manhattan      | Queens          |            22 |
| 7f6cc446-db02-4f7e-a07d-f1768f4a0f4a |         5 |        17 | Queens         | Manhattan       |            76 |
| acbd5311-a017-49b9-8156-8ffab18bf486 |         1 |        23 | Queens         | Manhattan       |            20 |
| 0a946f0b-1151-4ba9-bcfc-7b594c20e5cf |         1 |         0 | Manhattan      | Brooklyn        |            35 |
| ba3e5603-1ec6-4326-8035-8d90f3d32be2 |         4 |        11 | Queens         | Manhattan       |            32 |
| 98fb1172-8e10-4dc6-8329-87c1d06f30db |         5 |        21 | Queens         | Manhattan       |            30 |
| 257404cc-a419-4648-852f-775e38724a4b |         6 |        22 | Queens         | Manhattan       |            23 |
| 8150aa26-18bc-4ee1-b4b0-eacd4a88f97c |         2 |        12 | Manhattan      | Manhattan       |            24 |
| 4490ff3e-ba53-4e99-b132-74b0a04fa973 |         3 |        21 | Queens         | Brooklyn        |            23 |
| 34cb8cd9-0f67-42a2-b8a3-f0e0521ff135 |         4 |        20 | Queens         | Brooklyn        |            32 |
| 6a69605d-b263-4537-8a15-36a57d88031f |         3 |         9 | Manhattan      | Manhattan       |            40 |
| 3255c9ea-4733-430d-9ccb-9d783bbc6bf2 |         2 |        22 | Manhattan      | Manhattan       |            24 |
| f61226e0-8d41-41d7-a6cb-6b50c9c5402f |         0 |         2 | Manhattan      | Queens          |            24 |
| 333b6576-bcbe-4ecb-bc88-416f455def3a |         2 |        17 | Manhattan      | Manhattan       |             1 |
| e58a0118-c932-4536-b3ff-9f1029584f59 |         0 |        12 | Manhattan      | Queens          |            26 |
| 53606dff-7366-4d9a-bb3f-278383f05962 |         4 |         7 | Manhattan      | Manhattan       |            33 |
| f3a51d94-817d-4b92-bbdc-0283d77c3d44 |         5 |        21 | Manhattan      | Brooklyn        |            37 |
| 58a69081-c8df-41ed-8f52-b0037308ac0b |         2 |        17 | Manhattan      | Manhattan       |            40 |
| 5f4d6ba9-bbc8-4103-ab55-142da1efff2c |         0 |        20 | Queens         | Manhattan       |            33 |
| 866a62b6-49c9-4c0e-9922-33d32816bc47 |         4 |         8 | Queens         | Manhattan       |            64 |
| 2ed9d444-73f0-401e-8c60-95582482f3c3 |         5 |        13 | Manhattan      | Manhattan       |            33 |
| a6e751e2-3b52-4471-8b2b-9e686204295f |         3 |        10 | Manhattan      | Brooklyn        |            38 |
| a0500e6e-7b92-4511-9dd2-38f19a6f2c6d |         5 |        21 | Queens         | Brooklyn        |            36 |
| b55e92c7-a905-480e-8162-798115201156 |         4 |        13 | Manhattan      | Queens          |            31 |
| 96ea443f-da89-4acb-8f85-8f4e441f0aa3 |         0 |        23 | Queens         | Manhattan       |            24 |
| c2441eca-da75-4123-bb73-b1a6de49a0ce |         5 |        20 | Manhattan      | Brooklyn        |            26 |
| 0644f5fe-7a37-4423-8522-6eaf3ce4a6ae |         0 |         0 | Manhattan      | Manhattan       |             1 |
| 72816750-7994-4cf4-bc44-c36f2c6460e9 |         5 |        15 | Queens         | Manhattan       |            42 |
| ff3585a5-c03d-448f-a602-7c53c63f0575 |         5 |        22 | Brooklyn       | Brooklyn        |            31 |
| d434723e-16bf-4bc8-8f83-a9ac156edb79 |         4 |        23 | Manhattan      | Brooklyn        |            49 |
| c92721ab-fb88-4e9a-9f05-e0e7b52102d1 |         5 |        12 | Queens         | Manhattan       |            41 |
| 2192dc95-8742-49d5-af45-c52afe414a50 |         4 |        22 | Manhattan      | Brooklyn        |            33 |
| 3b677c85-5da1-47c4-927b-5a5a7f6e829a |         5 |        12 | Manhattan      | Manhattan       |            45 |
| 53a77b4f-6af6-4a12-8ed8-a816a515f761 |         4 |        20 | Manhattan      | Manhattan       |             2 |
| 2182c25d-4d40-40d0-bceb-e640b47ea5f3 |         5 |         9 | Manhattan      | Manhattan       |            30 |
| 9bbfd45b-eb96-4cc6-8bee-c6679697e6d1 |         5 |         9 | Queens         | Manhattan       |            75 |
| 4733c176-aa3b-4531-baff-1ff1f456812e |         1 |        13 | Manhattan      | Manhattan       |            44 |
| 0f877907-b485-4d0b-a148-d0926f4cefd7 |         1 |         5 | Manhattan      | Queens          |            18 |
| 54cb9b38-b8df-4eb7-9063-807dd8a66449 |         1 |        18 | Queens         | Brooklyn        |            84 |
| 9a767030-9d42-4d2a-9a07-f2e7c529a6ac |         2 |        12 | Manhattan      | Manhattan       |            27 |
| ca1f6c3d-6000-4123-9fdb-b4a8ce7a9f06 |         2 |        13 | Manhattan      | Manhattan       |             1 |
| 946c9945-574c-4d66-918c-2893947a036b |         6 |        19 | Manhattan      | Manhattan       |            38 |
| ceacc2ee-eea1-4085-88f7-bb4bd9eeecd5 |         2 |        22 | Queens         | Brooklyn        |            34 |
| 17e16fbb-934c-4041-aa8a-81cc59a6a685 |         2 |        13 | Manhattan      | Queens          |            50 |
| 2cbc41cd-400e-46ca-b9d9-72df64613f8b |         3 |        23 | Manhattan      | Queens          |            29 |
| cff6e3c7-dd74-4714-aac2-aa4650305c95 |         3 |        12 | Manhattan      | Manhattan       |            24 |
| a6e847bf-79ff-4a74-93a9-9c475529780d |         4 |        19 | Manhattan      | Queens          |            37 |
| 4e133f9a-40f2-48e4-8e92-40042687548c |         1 |        19 | Manhattan      | Manhattan       |            27 |
| 7b7eb81a-0c67-480c-a860-b339132b6c08 |         1 |        10 | Manhattan      | Queens          |            42 |
| 7b4f2491-02fc-459c-8e80-0df59c497e63 |         4 |        12 | Queens         | Manhattan       |            28 |
| 9a1da776-fff9-4bc8-93bc-7b8d3e2ed0ba |         1 |        22 | Queens         | Manhattan       |            20 |
| 0c0cb4e1-a8ea-4e59-9540-e6c565f79e09 |         1 |         9 | Brooklyn       | Manhattan       |            30 |
| d04598fb-b3d5-405f-ba77-039a12615f7e |         4 |        10 | Queens         | Queens          |            37 |
| 28807706-60d0-4636-b476-927b8dcf5f0d |         3 |        17 | Queens         | Manhattan       |            21 |
| a9f311af-8787-4b79-9f06-6a68e0b5e71a |         5 |         9 | Manhattan      | Brooklyn        |            28 |
| 86fc2341-9093-423d-b4b1-4fb8d9e1333f |         5 |        22 | Manhattan      | Bronx           |            30 |
| 26523edc-9ae3-424f-9827-e72821bf8929 |         4 |        13 | Queens         | Queens          |            37 |
| 91302ee2-bb7f-49ab-8a29-72f0f214464b |         4 |         7 | Manhattan      | Manhattan       |             1 |
| 8466ca36-1ab2-44b3-9b9e-d760428fd128 |         3 |        20 | Queens         | Manhattan       |            21 |
| 41ba24c8-c1f0-41df-836a-7a13e610bc61 |         5 |         7 | Manhattan      | Manhattan       |            33 |
| 7954d268-9495-42aa-9bc9-731fb037d3e8 |         6 |        13 | Manhattan      | Manhattan       |            32 |
| 891e4b87-6525-4744-9c2f-0648aff30513 |         3 |         8 | Queens         | Manhattan       |            53 |
| 25646c01-7daa-493f-b3ee-4d4ed8eab037 |         3 |        13 | Queens         | Manhattan       |            31 |
| a743a9e1-c329-4f39-b3b2-9f95cf61cf53 |         6 |        15 | Manhattan      | Manhattan       |            37 |
| 734f0747-4983-4ed1-8d4a-f0ec0d3328b4 |         6 |         8 | Queens         | Manhattan       |            28 |
| cd55a576-e041-45ef-ad5b-3c498a4b9d44 |         5 |         6 | Manhattan      | Queens          |            18 |
| af5c4733-f814-4a54-86db-c579f5c681ca |         5 |         8 | Manhattan      | Manhattan       |            30 |
| 21241d35-49e1-41c5-8dca-71bf62a7eafc |         6 |        13 | Queens         | Manhattan       |            44 |
| 2de8f252-357e-462e-9b75-f59f0774d885 |         3 |        19 | Manhattan      | Queens          |            21 |
| 50450d18-b23c-4ec4-96af-1d781e6f0b38 |         3 |        14 | Manhattan      | Manhattan       |            32 |
| 409d5f4b-8970-45e1-9274-842ed78cf2cd |         5 |        14 | Queens         | Brooklyn        |            75 |
| 07ebd773-f4e3-43f4-9c39-057982a33898 |         2 |        19 | Queens         | Manhattan       |            27 |
| 007ef428-da70-47ed-9c47-7afdafd45a89 |         4 |        16 | Manhattan      | Manhattan       |            30 |
| bb85db1a-40e0-4cc8-83ff-60da756daf9f |         5 |         0 | Queens         | Manhattan       |            23 |
| 177c0799-7613-42cd-b646-3883e6bd0757 |         6 |         1 | Queens         | Brooklyn        |            25 |
| c41c03d2-c99a-46cd-b731-e01964afe7da |         3 |        16 | Manhattan      | Queens          |            55 |
| 6c51d568-4b94-4e19-afbe-3693919625b1 |         3 |         8 | Manhattan      | Queens          |            18 |
| 7be98bfc-6a2f-4e6f-be53-34f3e4c0d4a7 |         3 |        18 | Manhattan      | Brooklyn        |            43 |
| dabfc56e-19a6-4a91-adc0-8857b005d5cd |         3 |        11 | Queens         | Manhattan       |            40 |
| 6aa89456-588c-4c39-bcdd-7696fcac28eb |         5 |        15 | Queens         | Manhattan       |            33 |
| 978b878e-9d74-4c4a-88f2-9611c3161b40 |         6 |         0 | Manhattan      | Brooklyn        |            32 |
| 0d0afae2-2ab9-4ed5-9397-79abc3d2440a |         4 |        22 | Manhattan      | Manhattan       |            19 |
| b8f804d1-24f4-489d-a121-1f9f244c7243 |         6 |        23 | Manhattan      | Manhattan       |            20 |
| 8fa35350-4763-4f8b-a367-7bf39bedfe05 |         1 |        20 | Queens         | Manhattan       |            21 |
| f148de17-67c1-4fc7-a2cc-fc598ec03b06 |         6 |        23 | Manhattan      | Brooklyn        |            29 |
| cec4d08d-6daf-423b-a2f7-8a1b025e1077 |         2 |        14 | Manhattan      | Manhattan       |            27 |
| ab7cac27-c04d-4584-9902-f23b2b6d62d5 |         4 |        13 | Manhattan      | Manhattan       |            36 |
| 681c99bb-2cfe-437a-a130-d3c9b0cd75cf |         2 |        14 | Manhattan      | Manhattan       |            34 |
| 5f6a68de-63fb-441e-b092-c5077afb543d |         6 |        17 | Manhattan      | Manhattan       |            30 |
| 31c41922-b1a9-48fd-a029-a4bdb463f622 |         3 |        12 | Queens         | Manhattan       |            43 |
| ba60ca0f-b47e-4bf1-8e3f-12349dd728e2 |         2 |        16 | Queens         | Brooklyn        |          1414 |
| 8f34e365-dcf6-45ea-949e-6610ed42f918 |         3 |         1 | Queens         | Manhattan       |            16 |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+

Waiting on bqjob_r2d184e8cbc6b0af_0000016e41f0c816_1 ... (49s) Current status: DONE

In [13]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_test' gs://$BUCKET/test/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_r681120a9dd727d8e_0000016e41f27f96_1 ... (66s) Current status: DONE

## VALIDATION SET

In [5]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_eval \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT GENERATE_UUID() as uuid, dayofweek, hourofday, pickup_borough, dropoff_borough, trip_duration FROM
(SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) -1 AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0.0
    AND trip_distance < 3000.0
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) = 9
) AS trips

INNER JOIN
(SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS pickup_borough FROM 
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS pu_zones
ON trips.pickup_location_id = pu_zones.zone_id

INNER JOIN (SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS dropoff_borough FROM
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS do_zones
ON trips.dropoff_location_id = do_zones.zone_id'

+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
|                 uuid                 | dayofweek | hourofday | pickup_borough | dropoff_borough | trip_duration |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
| 5b521b2b-4328-429f-8101-f32e965632a7 |         3 |        17 | Manhattan      | Manhattan       |            38 |
| 0716a64b-558b-410a-b350-7e571e23aa78 |         1 |        23 | Queens         | Queens          |            20 |
| 34df1778-2649-407c-b688-fc8f406e350b |         1 |         6 | Manhattan      | EWR             |            27 |
| 335b8ba6-7560-4687-aa71-a5e9ae60e719 |         4 |        19 | Manhattan      | Manhattan       |            26 |
| b87b8f65-62ca-476b-a8fe-6fb3a4cb666e |         3 |        12 | Manhattan      | Manhattan       |            37 |
| 8d7606a9-d0a1-4b0a-8876-0116620a3778 |         5 |        21 | Queens         | Manhattan       |            23 |
| 50eb869b-63d6-485a-b197-8d45baf1c3b9 |         3 |        17 | Manhattan      | Manhattan       |            36 |
| 9be3216e-5cbb-47a1-b25f-68e159cddc90 |         1 |        16 | Manhattan      | Manhattan       |            37 |
| f6d02685-4bfe-42ea-b9a7-5daa328a2489 |         6 |        23 | Manhattan      | Queens          |            45 |
| 576d2146-bb19-44d2-804b-e7d7856d2d6b |         5 |        17 | Manhattan      | Queens          |            63 |
| 22d8f453-3f66-4c3c-b178-dc509b611114 |         1 |        23 | Brooklyn       | Brooklyn        |            24 |
| be91c1aa-bc80-4d2f-aef8-49daaf5dc18a |         3 |         1 | Queens         | Queens          |            15 |
| 36e25304-262b-46c1-9490-90119e99311f |         4 |        17 | Manhattan      | Manhattan       |            39 |
| dab08cd3-42fc-44cb-a7c2-0716c2d136be |         2 |        19 | Manhattan      | Brooklyn        |            35 |
| 7fefcba2-2a88-4a34-bf77-e972427872fb |         1 |         8 | Queens         | Manhattan       |            41 |
| 5bf117a2-e76e-407d-a93f-0a539ed24b69 |         0 |        13 | Manhattan      | EWR             |            39 |
| bebcfb66-5999-46ca-a71e-6e94ce7fd1c8 |         1 |        18 | Manhattan      | Manhattan       |            29 |
| e14aea6e-8d1a-4a08-b30d-fcc3ed9d5c45 |         4 |         7 | Manhattan      | Manhattan       |            29 |
| 9dbcc33a-e0db-42be-8e1d-14761dc18e7e |         5 |        15 | Manhattan      | Queens          |            44 |
| 8f82170d-084c-4ab9-a246-9ca4d6d3a827 |         2 |        10 | Manhattan      | Manhattan       |            38 |
| c62661bd-b064-4dc6-b940-663d55f3d2e1 |         4 |        18 | Manhattan      | Queens          |            26 |
| 7ba65a53-ff7d-4376-bb04-4ceca73bec6e |         4 |        14 | Manhattan      | Queens          |            28 |
| c32f4ba0-08b2-4642-9656-ea803f51699b |         3 |        11 | Manhattan      | Bronx           |            30 |
| e194cb0a-c79e-4286-953a-ab1ae6404ebf |         4 |        17 | Manhattan      | Manhattan       |            36 |
| 9aecf520-dbd9-4c74-b5e6-a026398922d1 |         4 |        18 | Queens         | Manhattan       |            22 |
| 27cc005b-1f5d-445b-bb05-d2389784f173 |         4 |        21 | Manhattan      | Manhattan       |            30 |
| e4271604-8448-4089-b510-ff0d7e267792 |         4 |        17 | Manhattan      | Brooklyn        |            47 |
| 825f47d8-8f04-4bfd-bd65-63cbe6fcab9f |         1 |        11 | Manhattan      | Queens          |            21 |
| ba2d1edf-dba1-4f18-9eba-61ffa63433c7 |         3 |         8 | Manhattan      | Manhattan       |            30 |
| 693380dd-d69c-4057-9b38-e3465ebe5800 |         3 |        20 | Queens         | Manhattan       |            31 |
| 7bd4a968-7977-44fb-894d-845b736cfcf2 |         5 |        13 | Manhattan      | Queens          |            34 |
| d5cf32d7-d74e-4222-a3e0-4056e1c0d568 |         3 |        22 | Manhattan      | Staten Island   |            43 |
| 5c854223-9264-490c-833c-57c660e423ca |         5 |        22 | Manhattan      | Brooklyn        |            35 |
| c59587d2-d380-4d3e-b93d-b6108afb1743 |         1 |        19 | Queens         | Brooklyn        |            18 |
| 957d7fdb-0f94-4b39-a489-864a9815d4d6 |         4 |        22 | Manhattan      | Brooklyn        |            24 |
| a6080687-17be-442e-9de0-8757f123f0e2 |         6 |        17 | Queens         | Brooklyn        |            62 |
| 7ee99f59-8a4e-4cdd-88c1-45c2ec79beab |         6 |        18 | Queens         | Manhattan       |            58 |
| 24210711-9d5b-4c9c-9d24-a5b9f55a2324 |         4 |         9 | Manhattan      | Manhattan       |            33 |
| a5cabd8f-cd0b-469a-b138-e34af57f49d3 |         4 |        21 | Manhattan      | Bronx           |            25 |
| a62be21a-3be4-4b81-8adc-a209f6ab1c3b |         5 |        11 | Manhattan      | Manhattan       |            26 |
| 2fae6c52-fc3e-4263-8fd5-2c8586d1e295 |         6 |        17 | Manhattan      | Manhattan       |            38 |
| 6c546191-63e1-4490-b12d-2a410c117dcb |         4 |         0 | Queens         | Manhattan       |            19 |
| 6eb28baa-e0d1-4c84-998e-31c08fe999e7 |         6 |         1 | Manhattan      | Manhattan       |            21 |
| 8e30fe8d-96fe-475a-a950-a51c287fa5ab |         5 |        18 | Manhattan      | Manhattan       |            40 |
| 65b1a6bd-c954-4b3b-907f-1c43e488ff9b |         5 |        18 | Manhattan      | Manhattan       |            46 |
| 14d310db-4bac-47e5-921a-9a4114a3acd4 |         1 |        13 | Manhattan      | Manhattan       |            31 |
| 7e870808-9163-42f3-9562-5e5b15529505 |         2 |        13 | Manhattan      | Queens          |            29 |
| 2d503901-c18d-484a-a3fb-247f7e4f83a4 |         3 |        12 | Manhattan      | Manhattan       |            39 |
| 7df66785-6506-475a-ad89-74dce339d02e |         6 |         2 | Manhattan      | Brooklyn        |            29 |
| 7a88cb31-c13b-4155-a6e1-f33aa428f00d |         6 |        21 | Manhattan      | Manhattan       |            38 |
| a32ae939-382e-4681-bad4-a93270bf89fa |         5 |        12 | Manhattan      | Queens          |            46 |
| 538c8433-2f57-4299-a7e2-12120bae924a |         3 |        16 | Manhattan      | Brooklyn        |            29 |
| 842c21d4-dcda-4fc1-9347-3410bb9d41d1 |         2 |         8 | Queens         | Manhattan       |            36 |
| 363720ad-cda4-493c-901e-4ba7caff9483 |         1 |        20 | Queens         | Brooklyn        |            29 |
| fd62ed65-3b6c-4e4d-866d-dcb902a687c4 |         3 |        16 | Manhattan      | Manhattan       |            36 |
| 58837138-2373-40f8-b05f-7f7f588de6c5 |         5 |        22 | Queens         | Brooklyn        |            37 |
| 7d8cd7b1-4304-4f23-9ad6-cbe5ad1b281b |         2 |        22 | Queens         | Queens          |            16 |
| 08b23b8a-ada2-4ab7-8d44-c91a8357cedd |         3 |        17 | Queens         | Brooklyn        |            58 |
| 614a4c59-da9a-4b95-a3cd-5e1f2a71df33 |         3 |        10 | Manhattan      | Manhattan       |            35 |
| 1a2e2bd5-45f2-4ddf-a0a6-935993d4de86 |         3 |        23 | Manhattan      | Brooklyn        |            24 |
| 7e547c76-6821-4c60-9faa-f646b35e8db5 |         4 |        19 | Manhattan      | Manhattan       |            25 |
| 1c4e6670-2725-4374-be99-5834ab35e6ee |         5 |        19 | Queens         | Manhattan       |            35 |
| a50deae5-2506-42ae-b9e8-c2c5b6d623a6 |         1 |         9 | Queens         | Manhattan       |            28 |
| a486721a-b32b-455c-ac0c-9705bbc91ba2 |         2 |        19 | Queens         | Manhattan       |            32 |
| 86117f80-8005-475a-a9db-9f6b4f97af18 |         4 |        19 | Queens         | Manhattan       |            49 |
| 683dc1b2-a322-4578-b083-d3248d2d009e |         6 |        11 | Queens         | Manhattan       |            43 |
| 37a046b2-809e-4fb4-9823-d675c7f2a07d |         2 |        18 | Manhattan      | Manhattan       |            32 |
| e213aeb5-d16a-45b3-b26d-fea3ed20d92c |         3 |        12 | Queens         | Manhattan       |            33 |
| f75c3e7d-9ae7-4b05-ac99-8c5fdc2af5d6 |         5 |        10 | Queens         | Manhattan       |            43 |
| 16e46a55-c6b7-4447-8be5-34a8fc068efc |         1 |        12 | Queens         | Manhattan       |            35 |
| f4e819ae-0675-4624-a50e-779d585a0bcc |         5 |         6 | Manhattan      | Queens          |            30 |
| cb86aa3f-2bd5-4602-8ae0-10810c2629f7 |         6 |        22 | Manhattan      | Queens          |            41 |
| ebb865a9-e476-4d44-a168-90eac4251aad |         6 |        12 | Manhattan      | Manhattan       |            27 |
| 2219180a-b59e-4c2d-b9cf-40000aea619c |         2 |        17 | Manhattan      | Manhattan       |            47 |
| 2f460021-bf79-46c3-8553-00fc837eb5ed |         5 |        21 | Queens         | Brooklyn        |            38 |
| 077a7f07-595a-4807-acbb-0860a1701ba2 |         2 |         9 | Manhattan      | Manhattan       |            42 |
| ec1f00c1-01a1-4966-8b66-b8687aefb407 |         0 |        13 | Queens         | Manhattan       |            21 |
| 4755a147-6797-4b6a-b7e4-90b732e500ca |         5 |        23 | Manhattan      | Manhattan       |            27 |
| 1d6bda3b-0cda-4f22-b06b-d6f9baa23ce4 |         5 |         6 | Manhattan      | Queens          |            23 |
| b937d7b7-92a5-4b1c-8d0a-15a332aa0799 |         3 |        14 | Queens         | Manhattan       |            25 |
| d328bb95-1871-4c3d-8738-923f8ee2bdcc |         3 |        23 | Manhattan      | Manhattan       |            28 |
| 9220d1ec-cdfe-495b-9601-f11c417154af |         1 |        20 | Manhattan      | Manhattan       |            25 |
| 4966731c-f2f1-4552-9022-95aba5cb6df0 |         6 |        21 | Queens         | Manhattan       |            33 |
| fa42972d-8531-4e4f-a109-c9174809962a |         2 |         7 | Manhattan      | Manhattan       |            37 |
| 1bccc987-624f-4543-879a-7a383d5f7643 |         2 |        17 | Manhattan      | Queens          |            48 |
| f5e55efc-8d03-4979-b7e2-bf0bab9c9d24 |         3 |        21 | Queens         | Manhattan       |            20 |
| 733ecf4a-978a-4041-84eb-efc66552ff04 |         4 |        10 | Manhattan      | Manhattan       |            22 |
| 517e9708-11f6-41d8-82d7-5fd22890e21b |         2 |        22 | Manhattan      | Manhattan       |            38 |
| 4964e79b-12be-43dd-bb7b-79e101cdb518 |         3 |        16 | Manhattan      | Queens          |            60 |
| bdaabd16-4c27-47c0-af91-6004f2cddecd |         0 |        13 | Manhattan      | Manhattan       |            31 |
| cad6f39b-d69f-462d-945f-96ec08223793 |         5 |        18 | Manhattan      | Manhattan       |            43 |
| bb277fca-9daf-407b-8321-219f2a21f863 |         2 |        16 | Queens         | Manhattan       |            87 |
| 93251955-fe2b-4ee3-9e8c-d3bbdbe5a3b8 |         6 |         0 | Manhattan      | Queens          |            35 |
| b6f9ed57-91a8-4c88-a77d-3104065533d2 |         6 |        21 | Queens         | Manhattan       |            35 |
| a0223753-a887-45d7-9116-ba462b8235d0 |         2 |        19 | Manhattan      | Brooklyn        |            39 |
| 91ca02c5-a282-42a1-ad78-16f3ef09e1b6 |         6 |         8 | Manhattan      | Manhattan       |            27 |
| 1b4c7f01-2697-4f2f-9c2a-8c78e29724b2 |         0 |         3 | Manhattan      | Queens          |            21 |
| 9712c14f-f98c-433f-a6ff-776635d6d607 |         4 |        22 | Manhattan      | Brooklyn        |            26 |
| bcf7f841-6424-4ac2-b479-5a739bc46b48 |         0 |         2 | Manhattan      | Queens          |            31 |
| b48d6bae-3c54-435c-8a21-14e4eb0c58dd |         6 |        22 | Manhattan      | Manhattan       |             2 |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+

Waiting on bqjob_r10e7caedce123d88_0000016e4c34f6ad_1 ... (67s) Current status: DONE

In [9]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_eval' gs://$BUCKET/eval/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_reaabd14f49d98e5_0000016e41e8a770_1 ... (66s) Current status: DONE

## TABLE FOR LOLO

In [6]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_more_features \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT GENERATE_UUID() as uuid, dayofweek, hourofday, pickup_borough, dropoff_borough, trip_duration, total_amount, trip_distance, pickup_datetime, dropoff_datetime FROM
(SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) -1 AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0.0
    AND trip_distance < 3000.0
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    -- AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) < 8
) AS trips

INNER JOIN
(SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS pickup_borough FROM 
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS pu_zones
ON trips.pickup_location_id = pu_zones.zone_id

INNER JOIN (SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS dropoff_borough FROM
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS do_zones
ON trips.dropoff_location_id = do_zones.zone_id'

+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+--------------------+---------------+---------------------+---------------------+
|                 uuid                 | dayofweek | hourofday | pickup_borough | dropoff_borough | trip_duration |    total_amount    | trip_distance |   pickup_datetime   |  dropoff_datetime   |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+--------------------+---------------+---------------------+---------------------+
| 9775268b-e7ca-4a7e-8dad-97630e11a385 |         0 |         7 | Queens         | Brooklyn        |          1384 |              48.96 |         13.58 | 2018-07-15T07:55:55 | 2018-07-16T06:59:46 |
| a80e7c2d-221b-4ac9-9832-8968e90e983a |         0 |        21 | Manhattan      | Manhattan       |            24 |              29.15 |           6.8 | 2018-03-25T21:38:44 | 2018-03-25T22:02:11 |
| c6608b7a-71a4-48df-a2bf-6f95ea0c8786 |         5 |         2 | Manhattan      | Queens          |            28 |              45.36 |         12.62 | 2018-03-16T02:06:33 | 2018-03-16T02:34:27 |
| 67e7374c-a139-4457-a530-0fdfde8c6d2b |         6 |        23 | Queens         | Brooklyn        |            18 |              28.56 |          7.27 | 2018-02-03T23:33:27 | 2018-02-03T23:51:03 |
| e2ceef79-9c6f-4cb2-a9f8-9b5d5512486d |         0 |         0 | Manhattan      | Queens          |            24 |              34.26 |           6.0 | 2018-09-23T00:46:42 | 2018-09-23T01:10:17 |
| 8bea956c-1919-4a17-9e67-89ba7b9a3526 |         4 |        21 | Manhattan      | Manhattan       |            30 |              31.13 |          7.59 | 2018-10-25T21:21:44 | 2018-10-25T21:51:45 |
| 5e481ad8-e60e-4168-86a6-63085bca8d4d |         0 |         9 | Queens         | Brooklyn        |            38 |              48.49 |         11.45 | 2018-07-15T09:42:59 | 2018-07-15T10:20:05 |
| 765e06ac-3b5f-422b-ade2-a285200ad675 |         3 |        21 | Manhattan      | Manhattan       |            34 |              27.95 |           4.8 | 2018-09-12T21:05:38 | 2018-09-12T21:39:41 |
| 34a2c0fa-8401-4209-ba34-b157eb36624c |         4 |        22 | Queens         | Brooklyn        |            37 |              61.75 |          18.5 | 2018-07-26T22:19:12 | 2018-07-26T22:56:11 |
| 0a4d33f1-2151-428a-86b4-298a2411a007 |         5 |         8 | Queens         | Manhattan       |            28 |              27.35 |           5.3 | 2018-06-22T08:15:50 | 2018-06-22T08:43:52 |
| b1e5769e-2d01-496b-b4d8-e5e281fa23f2 |         6 |         1 | Manhattan      | Manhattan       |            21 |              36.96 |         10.04 | 2018-02-24T01:56:29 | 2018-02-24T02:17:09 |
| 7089af1c-bdc0-4dea-a65f-1181c612bdc8 |         1 |         1 | Queens         | Queens          |            30 |              57.35 |          16.6 | 2018-10-15T01:23:47 | 2018-10-15T01:53:06 |
| d4c70ca6-d357-4369-b484-274297cc7518 |         5 |         5 | Manhattan      | Queens          |            16 |              33.96 |          9.32 | 2018-07-27T05:45:51 | 2018-07-27T06:01:39 |
| e0618077-0501-493b-8611-8ad13c910e15 |         0 |        19 | Manhattan      | Manhattan       |            22 |              29.16 |          7.11 | 2018-03-04T19:32:12 | 2018-03-04T19:54:19 |
| 00437842-2ce6-4ac4-8cef-8b8c8f20ee3d |         4 |        16 | Manhattan      | Queens          |            57 |              53.75 |          13.2 | 2018-10-04T16:39:27 | 2018-10-04T17:36:40 |
| 398e1254-1c38-4a20-914b-b1b77d2318b3 |         0 |        17 | Manhattan      | Queens          |            43 |               33.3 |          5.08 | 2018-03-25T17:51:03 | 2018-03-25T18:34:20 |
| 2fd1874e-fea6-4037-8626-cd025f72eb69 |         3 |         8 | Queens         | Queens          |            22 |              38.76 |          10.9 | 2018-04-04T08:41:24 | 2018-04-04T09:03:54 |
| d0a9f241-0872-48e1-aac3-fe7c4be1f53c |         3 |        12 | Queens         | Manhattan       |            49 |              51.06 |          10.3 | 2018-09-12T12:48:31 | 2018-09-12T13:37:21 |
| 6c5f6a29-20ac-4a32-a1de-5492fcacf6b0 |         1 |        16 | Queens         | Manhattan       |            24 |              40.27 |          8.18 | 2018-03-05T16:19:45 | 2018-03-05T16:43:03 |
| 898e3027-529f-4480-a8da-c77bc66f0c1e |         0 |        11 | Queens         | Manhattan       |            33 |              54.07 |         12.67 | 2018-02-04T11:33:00 | 2018-02-04T12:06:35 |
| 70b538e8-31b2-44ed-b60a-11d1694e7c66 |         6 |        23 | Queens         | Manhattan       |            36 |              56.32 |         11.48 | 2018-09-22T23:44:27 | 2018-09-23T00:20:59 |
| 323ba7dc-1290-43b2-8570-3f5758330141 |         2 |        15 | Manhattan      | Queens          |            29 |              40.56 |          9.16 | 2018-02-13T15:53:17 | 2018-02-13T16:22:58 |
| f8160b01-0b30-4025-be6e-22526c91416c |         4 |        18 | Manhattan      | Brooklyn        |            32 |              29.75 |          5.49 | 2018-03-15T18:53:59 | 2018-03-15T19:25:59 |
| 5dbc601c-5c98-4fd4-94a1-9d162e4b8daa |         4 |        22 | Manhattan      | Brooklyn        |            40 |              44.59 |          9.68 | 2018-11-15T22:12:27 | 2018-11-15T22:52:51 |
| 4de960f3-3764-4db3-b94f-17c545b8f1b9 |         0 |         9 | Manhattan      | Queens          |            20 |               40.6 |          12.8 | 2018-01-14T09:54:25 | 2018-01-14T10:14:58 |
| 8a4614e1-3861-4a7b-866e-c927b828cf9c |         4 |        15 | Manhattan      | Manhattan       |            42 |              36.96 |          7.53 | 2018-03-15T15:41:29 | 2018-03-15T16:23:02 |
| dba4b170-d266-450a-b8b3-76a1f20c5fe4 |         1 |        19 | Queens         | Manhattan       |            62 |               58.0 |         16.26 | 2018-10-15T19:17:34 | 2018-10-15T20:19:09 |
| 16d7e4b0-7058-4ad5-af26-ffa6ca118bf1 |         2 |        21 | Queens         | Queens          |             1 |              44.76 |          0.04 | 2018-02-13T21:26:54 | 2018-02-13T21:27:27 |
| e7423c41-2090-4f30-9e45-4c5fed4f3fc1 |         3 |        20 | Queens         | Manhattan       |            25 |              42.67 |          9.16 | 2018-09-12T20:34:08 | 2018-09-12T20:59:54 |
| de36ea59-8efe-4701-9c47-19ffef27dcc0 |         1 |         8 | Queens         | Manhattan       |            49 |              56.46 |          11.7 | 2018-04-23T08:31:36 | 2018-04-23T09:20:20 |
| 8b22ac4e-dc32-4eb2-87fe-c84985a6ac31 |         0 |         5 | Manhattan      | Brooklyn        |            25 |              34.56 |          8.74 | 2018-02-04T05:49:24 | 2018-02-04T06:14:09 |
| c83b0b45-c560-482b-8dec-c401a39cd8b3 |         4 |        22 | Manhattan      | Manhattan       |            17 |              28.56 |          7.67 | 2018-03-15T22:11:55 | 2018-03-15T22:28:49 |
| 68e3d366-d511-4dfd-a821-1df923a87c28 |         6 |        14 | Manhattan      | Manhattan       |            25 |              32.76 |          7.89 | 2018-12-08T14:52:12 | 2018-12-08T15:17:16 |
| b042a6c7-dbf6-4a8a-9ed6-4857dca813c2 |         3 |        21 | Manhattan      | Queens          |            49 |              93.82 |         24.32 | 2018-08-08T21:08:11 | 2018-08-08T21:57:43 |
| 8d9e1686-1958-49ed-bd00-e5b0f922a733 |         2 |        14 | Queens         | Manhattan       |            34 |               55.7 |         12.55 | 2018-03-06T14:21:42 | 2018-03-06T14:55:48 |
| df4ebca0-1343-4d5c-949d-956d722b92dd |         5 |         0 | Manhattan      | Manhattan       |            45 |              38.76 |          6.07 | 2018-10-05T00:08:07 | 2018-10-05T00:53:03 |
| c141af05-cc91-4a19-93ce-113b69f4f6a4 |         1 |         5 | Manhattan      | Manhattan       |             1 |               5.15 |           0.3 | 2018-09-24T05:52:51 | 2018-09-24T05:53:34 |
| 34c4e1ce-a7c4-4487-a013-f22100a8dd0f |         1 |        18 | Manhattan      | Manhattan       |            19 |               26.3 |          6.91 | 2018-09-24T18:39:28 | 2018-09-24T18:58:33 |
| ad020d1d-ecaa-48f9-bdd0-3910d9df475a |         1 |        16 | Manhattan      | EWR             |            61 |              116.4 |         18.79 | 2018-11-05T16:06:57 | 2018-11-05T17:07:34 |
| bdd82536-0a60-42c5-827d-93abb09ffc8c |         3 |        14 | Queens         | Manhattan       |            17 |              43.27 |         10.41 | 2018-07-04T14:07:00 | 2018-07-04T14:24:45 |
| b7903ab3-50db-4b01-aea0-8a7f2075c514 |         6 |        14 | Queens         | Brooklyn        |            29 |              38.76 |         11.08 | 2018-06-02T14:13:51 | 2018-06-02T14:42:08 |
| d32b45d1-4ea5-42e1-97f5-3091179b7e34 |         1 |        15 | Queens         | Brooklyn        |            58 |              60.35 |          13.5 | 2018-07-16T15:03:58 | 2018-07-16T16:01:45 |
| de204e20-cbf4-428b-9232-f5da17a6b6c0 |         6 |        13 | Manhattan      | EWR             |            46 |               97.3 |         15.66 | 2018-06-02T13:54:20 | 2018-06-02T14:40:29 |
| cf051626-2a4b-4171-b939-210075b93383 |         6 |        20 | Manhattan      | Brooklyn        |            34 |              29.76 |           5.0 | 2018-04-14T20:21:41 | 2018-04-14T20:55:06 |
| e05e2440-82dd-4f5b-9181-c76f2f2efdb6 |         3 |        21 | Queens         | Brooklyn        |          1396 |              54.96 |         15.68 | 2018-05-23T21:11:07 | 2018-05-24T20:27:02 |
| 2184f6bf-25cd-4a24-a20b-d594c0679aba |         5 |        12 | Queens         | Manhattan       |            54 |              54.96 |         14.23 | 2018-05-04T12:02:40 | 2018-05-04T12:56:27 |
| 83b73206-ebb9-4a25-a982-f41ca4c72ae5 |         3 |        12 | Queens         | Manhattan       |            29 |              37.87 |          7.19 | 2018-08-08T12:30:45 | 2018-08-08T12:59:23 |
| 75c10d20-4b45-4278-a264-adae755008fb |         6 |        21 | Manhattan      | Manhattan       |            30 |              26.22 |           5.1 | 2018-04-14T21:00:52 | 2018-04-14T21:30:08 |
| 0011990a-4a98-4abd-a330-e657bdcc6156 |         3 |        20 | Queens         | Manhattan       |            24 |              44.41 |           9.0 | 2018-05-23T20:15:30 | 2018-05-23T20:39:37 |
| 307a06d7-f2ff-4e9b-8996-d82b6aaa6b8e |         6 |        12 | Queens         | Manhattan       |            36 |              44.75 |          11.9 | 2018-06-02T12:04:49 | 2018-06-02T12:40:44 |
| b319e5ae-a478-43c6-92b7-426fcb15ca57 |         2 |        12 | Manhattan      | Manhattan       |            43 |              34.55 |           4.7 | 2018-10-16T12:28:42 | 2018-10-16T13:11:28 |
| 700ab330-3a91-4795-ad55-658e8e161b3d |         2 |         7 | Queens         | Brooklyn        |            55 |              55.56 |          13.2 | 2018-03-27T07:41:52 | 2018-03-27T08:36:07 |
| 67566a91-7744-45cc-8c99-fe02aaa900b7 |         3 |         8 | Manhattan      | Manhattan       |            24 |              31.55 |           7.9 | 2018-05-23T08:15:40 | 2018-05-23T08:39:30 |
| f0c4e07b-1995-45df-890a-d1f176bc4cdc |         6 |        15 | Queens         | Queens          |            30 |               39.8 |          12.6 | 2018-06-02T15:31:24 | 2018-06-02T16:01:43 |
| 9760e265-2a59-4292-b960-31096f29932d |         2 |        11 | Manhattan      | Manhattan       |            37 |              29.75 |          4.58 | 2018-04-24T11:31:40 | 2018-04-24T12:08:09 |
| d9963ab0-cc78-45ba-acc0-b091d8b1a849 |         3 |         8 | Queens         | Manhattan       |            47 |              56.06 |          11.5 | 2018-05-23T08:43:24 | 2018-05-23T09:30:22 |
| 838948a7-d535-4909-9327-a26c1326144f |         1 |        21 | Queens         | Manhattan       |            19 |               40.7 |          8.61 | 2018-04-23T21:48:42 | 2018-04-23T22:07:50 |
| eb9b7bd3-8f8a-4eb6-ad7c-2594343c83a9 |         0 |        21 | Queens         | Manhattan       |            33 |              55.26 |          13.4 | 2018-03-25T21:06:03 | 2018-03-25T21:39:52 |
| 90d41580-fd0c-425e-b166-3decb8b340f1 |         4 |        14 | Queens         | Manhattan       |            26 |              43.82 |          8.91 | 2018-03-15T14:09:11 | 2018-03-15T14:35:51 |
| c3ed8823-7a5e-4d13-ac1c-7ebe3e6c26d8 |         2 |        21 | Queens         | Manhattan       |            19 |              37.58 |          6.97 | 2018-07-03T21:12:40 | 2018-07-03T21:31:03 |
| b55334f8-0f77-400d-82c8-f9c0cdfd9c5d |         1 |        13 | Manhattan      | Brooklyn        |           116 |              49.56 |         10.36 | 2018-03-05T13:34:37 | 2018-03-05T15:30:41 |
| d16e4c4e-e1f6-45c0-810c-810a1bbeba54 |         4 |        22 | Manhattan      | Brooklyn        |            32 |              29.16 |          5.98 | 2018-05-03T22:28:22 | 2018-05-03T23:00:19 |
| d81b0d77-8566-4fc0-af34-d2b7cc951c60 |         3 |        23 | Manhattan      | Manhattan       |            26 |              39.36 |          10.8 | 2018-03-14T23:22:08 | 2018-03-14T23:48:31 |
| 3379db2b-eaa0-48f3-aec6-70aff2863a64 |         3 |        15 | Manhattan      | Queens          |            38 |              48.06 |          10.4 | 2018-02-14T15:09:25 | 2018-02-14T15:47:52 |
| 12aa2c4b-cdbd-4e34-9936-4f92acdc26ca |         2 |         7 | Manhattan      | Queens          |            23 |              41.47 |          9.58 | 2018-07-17T07:51:32 | 2018-07-17T08:14:41 |
| fbcc6019-5039-4dd4-83c9-fa88e94b5b22 |         5 |        18 | Manhattan      | Manhattan       |            23 |              30.38 |          6.57 | 2018-10-26T18:02:34 | 2018-10-26T18:25:52 |
| 817c3498-f05b-4488-897f-afb2df7f4557 |         1 |        23 | Queens         | Manhattan       |            20 |              41.95 |          9.19 | 2018-03-05T23:39:19 | 2018-03-05T23:59:12 |
| 1e75ef55-f178-4e61-a1b3-b40333948b3f |         1 |        23 | Manhattan      | Queens          |            46 |              40.56 |          7.14 | 2018-04-23T23:10:15 | 2018-04-23T23:56:41 |
| 3dbbd348-f1f4-4eab-a166-45d207d9e42a |         3 |        13 | Manhattan      | Queens          |            38 |               65.0 |         17.81 | 2018-05-23T13:39:14 | 2018-05-23T14:17:16 |
| f0fe5c79-4d22-4830-a9cd-3a24bfb4de6d |         4 |        14 | Manhattan      | Manhattan       |            26 |              30.36 |          6.88 | 2018-11-29T14:21:32 | 2018-11-29T14:47:34 |
| d99669af-eeba-40f4-b4ec-96bc4001df38 |         2 |        13 | Manhattan      | EWR             |            32 |              92.92 |         16.94 | 2018-01-16T13:49:25 | 2018-01-16T14:21:09 |
| dcbe3409-895d-489c-9535-f162bcce2984 |         6 |         2 | Manhattan      | Manhattan       |            30 |               45.3 |          12.6 | 2018-10-06T02:37:13 | 2018-10-06T03:07:36 |
| 94b62ecd-6411-49c1-8048-aa26614bce2d |         2 |        12 | Manhattan      | Manhattan       |            45 |              35.76 |          6.03 | 2018-03-27T12:05:01 | 2018-03-27T12:50:04 |
| 3dcf5009-2f96-4bff-aed4-0652b2577ee5 |         3 |        14 | Queens         | Manhattan       |            26 |              40.87 |          8.77 | 2018-10-17T14:31:26 | 2018-10-17T14:57:04 |
| db2229f8-c241-457f-86f7-7a398d3f49ed |         5 |        19 | Manhattan      | Brooklyn        |            29 |               38.5 |          8.75 | 2018-01-05T19:11:49 | 2018-01-05T19:40:29 |
| 3cf99b43-aab4-4f66-874a-d9a1fcf8cd1f |         6 |         3 | Brooklyn       | Manhattan       |            31 |              36.36 |           8.4 | 2018-06-23T03:59:15 | 2018-06-23T04:30:49 |
| e20f8719-22bf-4a6e-8681-0afbcf04a0d7 |         6 |        18 | Manhattan      | Manhattan       |             1 | 4.5600000000000005 |          0.34 | 2018-06-23T18:32:09 | 2018-06-23T18:33:10 |
| 2f7aa827-b59e-4dda-8838-e36a7a7ee144 |         6 |         0 | Queens         | Brooklyn        |            30 |              64.55 |          19.6 | 2018-03-17T00:54:45 | 2018-03-17T01:24:10 |
| 90b75dee-41e0-4e4c-b9c0-aef24bdad70d |         6 |        15 | Manhattan      | Manhattan       |            27 |              27.85 |           5.6 | 2018-06-23T15:51:45 | 2018-06-23T16:18:50 |
| 330987b1-ef6a-496a-acaf-b1f2cf72ad26 |         5 |        13 | Manhattan      | Manhattan       |            54 |              44.76 |          7.99 | 2018-05-04T13:33:42 | 2018-05-04T14:27:10 |
| 23d75032-7b78-412a-b859-3c053ae82bf8 |         1 |         5 | Manhattan      | Queens          |            32 |              51.67 |         11.86 | 2018-12-10T05:35:31 | 2018-12-10T06:07:30 |
| e7067b72-2b4e-4ad7-a3f2-7068cdeac1e9 |         5 |        21 | Manhattan      | Brooklyn        |            31 |               34.7 |          10.9 | 2018-10-26T21:38:11 | 2018-10-26T22:09:58 |
| cacc60e2-de37-4d5c-90e0-31bed5df8d9b |         0 |        14 | Manhattan      | Queens          |            23 |              38.15 |          10.6 | 2018-04-15T14:15:19 | 2018-04-15T14:38:51 |
| a0de8779-92ce-457f-b440-79596c00b966 |         4 |        13 | Queens         | Manhattan       |            27 |              40.22 |         10.03 | 2018-07-05T13:50:59 | 2018-07-05T14:17:54 |
| e12009bc-658d-40fe-ab9a-5452184ecf07 |         5 |        18 | Manhattan      | Brooklyn        |            21 |              28.55 |           6.6 | 2018-04-06T18:41:02 | 2018-04-06T19:02:01 |
| 9802ebf7-d05f-47c4-95fc-cd697ce72c39 |         5 |        10 | Manhattan      | Queens          |            19 |              39.07 |          8.76 | 2018-09-14T10:56:34 | 2018-09-14T11:15:10 |
| c0bea840-c1c2-4d4b-bb1e-1ef292ca7481 |         5 |        13 | Manhattan      | EWR             |            76 |             119.76 |          18.8 | 2018-11-30T13:54:23 | 2018-11-30T15:10:31 |
| 35ab57e0-e5f2-4e32-99ea-39e29d5be57b |         6 |        11 | Manhattan      | Brooklyn        |            36 |              38.16 |           8.6 | 2018-03-17T11:40:51 | 2018-03-17T12:16:28 |
| 495bfd21-c649-48b9-8b06-be5d3414fcd1 |         0 |        23 | Queens         | Manhattan       |            15 |              36.66 |           8.1 | 2018-02-25T23:49:16 | 2018-02-26T00:04:27 |
| b5ddea83-2228-43c6-a176-62dbb687201c |         2 |        10 | Manhattan      | Manhattan       |             2 | 4.5600000000000005 |          0.34 | 2018-10-16T10:54:55 | 2018-10-16T10:56:21 |
| 598fc0e0-464c-42da-ad11-9883d2834247 |         1 |        18 | Queens         | Brooklyn        |            36 |              51.36 |         15.02 | 2018-01-15T18:02:01 | 2018-01-15T18:38:17 |
| fc7d9b57-ac62-419e-8589-18e25f7b5bc7 |         2 |        15 | Manhattan      | Manhattan       |            30 |              31.55 |           6.1 | 2018-09-25T15:53:42 | 2018-09-25T16:23:27 |
| 2719cf36-c11c-4ffe-96bd-719eb72aa569 |         3 |        11 | Queens         | Manhattan       |            38 |              51.95 |          9.86 | 2018-04-25T11:39:00 | 2018-04-25T12:17:04 |
| f600f339-5152-4c07-8e73-de79c505a98a |         0 |        20 | Queens         | Manhattan       |            22 |              39.56 |           8.5 | 2018-02-25T20:02:45 | 2018-02-25T20:24:40 |
| 571a1c4a-5994-45b2-984d-fa67c8fa7308 |         2 |        15 | Manhattan      | Manhattan       |            35 |              26.76 |          3.38 | 2018-03-06T15:52:46 | 2018-03-06T16:27:46 |
| 1e24ce3b-f01c-4602-88d3-b89517ea5f17 |         6 |        18 | Queens         | Manhattan       |            23 |              36.67 |          7.24 | 2018-03-17T18:40:55 | 2018-03-17T19:03:08 |
| 36c3db4b-d2d5-40a5-a80a-f80d5bbdfb91 |         5 |        21 | Queens         | Queens          |            26 |              42.32 |          11.8 | 2018-08-10T21:36:25 | 2018-08-10T22:02:48 |
| e78f88a0-8b2b-48b0-84d3-661153c42f61 |         2 |        20 | Manhattan      | Manhattan       |             1 |                4.5 |          0.18 | 2018-11-06T20:50:57 | 2018-11-06T20:51:32 |

Waiting on bqjob_r17f3a0e4c4b4090f_0000016e4c3860d6_1 ... (196s) Current status: DONE