# Read data from bigquery and write them in GCS

Original data from public dataset in bigquery: bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018.

* create query to clean data and keep only columns I need
* create bigquery dataset within `event-driven-ml` project
* save dataset as partitioned csv in GCS (I don't know if I need this step yet)

In [1]:
from google.cloud import bigquery as bq

In [2]:
bq_client = bq.Client()

In [5]:
query = """
SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0
    AND trip_distance < 3000
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440
    
LIMIT 10
"""

In [6]:
yellow_2018_df = bq_client.query(query).to_dataframe()

In [14]:
yellow_2018_df.columns

Index(['pickup_datetime', 'dropoff_datetime', 'dayofweek', 'hourofday',
       'trip_duration', 'passenger_count', 'trip_distance',
       'pickup_location_id', 'dropoff_location_id', 'rate_code',
       'payment_type', 'fare_amount', 'tolls_amount', 'flag_tolls',
       'total_amount'],
      dtype='object')

In [7]:
yellow_2018_df.dtypes

pickup_datetime        datetime64[ns]
dropoff_datetime       datetime64[ns]
dayofweek                       int64
hourofday                       int64
trip_duration                   int64
passenger_count                 int64
trip_distance                 float64
pickup_location_id              int64
dropoff_location_id             int64
rate_code                       int64
payment_type                    int64
fare_amount                   float64
tolls_amount                  float64
flag_tolls                    float64
total_amount                  float64
dtype: object

In [8]:
yellow_2018_df.head()

,pickup_datetime,dropoff_datetime,dayofweek,hourofday,trip_duration,passenger_count,trip_distance,pickup_location_id,dropoff_location_id,rate_code,payment_type,fare_amount,tolls_amount,flag_tolls,total_amount
0,2018-11-27 21:07:28,2018-11-27 21:35:20,3,21,28,1,10.69,138,114,1,1,32.0,5.76,1.0,46.87
1,2018-11-27 19:22:39,2018-11-27 19:50:49,3,19,28,1,10.55,138,231,1,1,33.5,0.00,0.0,42.36
2,2018-11-27 18:09:38,2018-11-27 18:37:17,3,18,28,1,9.53,138,229,1,1,28.5,5.76,1.0,43.27
3,2018-11-27 18:08:46,2018-11-27 18:57:39,3,18,49,1,10.56,138,50,1,1,39.5,5.76,1.0,54.12
4,2018-11-27 17:43:48,2018-11-27 18:27:00,3,17,44,4,6.80,65,230,1,1,33.0,0.00,0.0,41.75

In [9]:
yellow_2018_df.describe()

,dayofweek,hourofday,trip_duration,passenger_count,trip_distance,pickup_location_id,dropoff_location_id,rate_code,payment_type,fare_amount,tolls_amount,flag_tolls,total_amount
count,10.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.000000,10.000000,10.000000,10.000000
mean,3.0,17.200000,42.400000,1.600000,11.165000,126.900000,138.200000,1.600000,1.0,45.050000,5.394000,0.600000,61.527000
std,0.0,1.932184,14.615061,1.074968,2.512198,23.311657,95.827159,1.349897,0.0,19.417132,5.955092,0.516398,26.260521
min,3.0,15.000000,28.000000,1.000000,6.800000,65.000000,1.000000,1.000000,1.0,28.500000,0.000000,0.000000,41.750000
25%,3.0,15.500000,29.250000,1.000000,10.100000,128.250000,64.000000,1.000000,1.0,33.125000,0.000000,0.000000,44.170000
50%,3.0,17.000000,41.000000,1.000000,10.625000,138.000000,161.500000,1.000000,1.0,38.750000,5.760000,1.000000,50.940000
75%,3.0,18.000000,50.500000,1.750000,12.217500,138.000000,224.500000,1.000000,1.0,46.250000,5.760000,1.000000,61.550000
max,3.0,21.000000,74.000000,4.000000,16.200000,138.000000,231.000000,5.000000,1.0,90.000000,15.500000,1.000000,115.000000

In [3]:
import os
PROJECT = 'event-driven-ml'    # CHANGE THIS
BUCKET = 'edml/data/taxi-trips' # REPLACE WITH YOUR BUCKET NAME. Use a regional bucket in the region you selected.
REGION = 'eu' # Choose an available region for Cloud MLE from https://cloud.google.com/ml-engine/docs/regions.

# for bash
os.environ['PROJECT'] = PROJECT
os.environ['BUCKET'] = BUCKET
os.environ['REGION'] = REGION

In [4]:
%%bash
gcloud config set project $PROJECT

Updated property [core/project].
WARNING: You do not appear to have access to project [event-driven-ml] or it does not exist.

## TRAINING SET

In [12]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_train \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT
    -- pickup_datetime,
    -- dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    -- passenger_count,
    -- CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id --,
    -- CAST(rate_code AS INT64) AS rate_code,
    -- CAST(payment_type AS INT64) AS payment_type,
    -- CAST(fare_amount AS FLOAT64) AS fare_amount,
    -- CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    -- CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    -- CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0
    AND trip_distance < 3000
    AND fare_amount >= 2.5
    AND fare_amount < 6000
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) < 8'

+-----------+-----------+---------------+--------------------+---------------------+
| dayofweek | hourofday | trip_duration | pickup_location_id | dropoff_location_id |
+-----------+-----------+---------------+--------------------+---------------------+
|         7 |         0 |            17 |                 80 |                  89 |
|         7 |         0 |            18 |                 41 |                  45 |
|         1 |         0 |            23 |                 88 |                 163 |
|         2 |         0 |            13 |                 25 |                 133 |
|         7 |         0 |            28 |                 88 |                  67 |
|         2 |         0 |            30 |                 49 |                 112 |
|         7 |         0 |            27 |                  7 |                 216 |
|         7 |         0 |            33 |                193 |                 225 |
|         7 |         0 |            40 |                 74 |                   7 |
|         1 |         0 |            23 |                  4 |                  41 |
|         2 |         0 |            13 |                119 |                  41 |
|         4 |         0 |            14 |                 33 |                 249 |
|         3 |         0 |            18 |                 88 |                 263 |
|         4 |         0 |            32 |                 83 |                  76 |
|         1 |         0 |            14 |                 89 |                 181 |
|         6 |         0 |            25 |                 24 |                  79 |
|         1 |         0 |            19 |                181 |                  26 |
|         4 |         0 |            17 |                 24 |                 200 |
|         6 |         0 |             1 |                116 |                  42 |
|         2 |         0 |            17 |                223 |                  37 |
|         2 |         0 |             1 |                 74 |                  74 |
|         1 |         0 |            57 |                 41 |                 245 |
|         3 |         0 |            35 |                 45 |                 220 |
|         3 |         0 |            24 |                232 |                 119 |
|         1 |         0 |            15 |                209 |                  74 |
|         2 |         0 |            24 |                 45 |                 129 |
|         6 |         0 |            11 |                 88 |                 233 |
|         4 |         0 |            18 |                255 |                  36 |
|         6 |         0 |            24 |                 97 |                  75 |
|         1 |         0 |            32 |                  4 |                 239 |
|         3 |         0 |            22 |                 97 |                 164 |
|         4 |         0 |            25 |                  4 |                  41 |
|         6 |         0 |            29 |                232 |                 151 |
|         5 |         0 |            24 |                146 |                 205 |
|         7 |         0 |            35 |                 36 |                  50 |
|         5 |         0 |            17 |                226 |                  42 |
|         6 |         0 |            15 |                 24 |                 244 |
|         7 |         0 |            26 |                 28 |                 141 |
|         6 |         0 |            22 |                 25 |                  14 |
|         1 |         0 |            26 |                 76 |                 123 |
|         5 |         0 |            22 |                232 |                  43 |
|         2 |         0 |            11 |                146 |                  75 |
|         4 |         0 |            26 |                256 |                 235 |
|         1 |         0 |            24 |                254 |                 235 |
|         7 |         0 |            32 |                 65 |                 133 |
|         1 |         0 |            30 |                 37 |                 181 |
|         2 |         0 |            19 |                 49 |                  89 |
|         1 |         0 |            78 |                130 |                 129 |
|         1 |         0 |            10 |                 82 |                 162 |
|         1 |         0 |            20 |                255 |                   7 |
|         6 |         0 |             1 |                128 |                 127 |
|         1 |         0 |            32 |                145 |                  82 |
|         6 |         0 |             1 |                 74 |                  74 |
|         4 |         0 |            26 |                  7 |                 265 |
|         1 |         0 |            40 |                112 |                  42 |
|         6 |         0 |            22 |                 24 |                 144 |
|         5 |         0 |             1 |                 41 |                  41 |
|         1 |         0 |            27 |                209 |                 116 |
|         1 |         0 |            18 |                256 |                 170 |
|         7 |         0 |            16 |                209 |                 181 |
|         1 |         0 |            21 |                112 |                 181 |
|         2 |         0 |            35 |                 80 |                  25 |
|         7 |         0 |            44 |                181 |                 239 |
|         1 |         0 |            38 |                181 |                 156 |
|         6 |         0 |            16 |                 69 |                 200 |
|         7 |         0 |            25 |                232 |                  37 |
|         1 |         0 |            16 |                209 |                  74 |
|         6 |         0 |            28 |                 88 |                 151 |
|         5 |         0 |            11 |                 88 |                  79 |
|         7 |         0 |            27 |                 88 |                 238 |
|         4 |         0 |            22 |                209 |                  24 |
|         5 |         0 |            24 |                112 |                  48 |
|         6 |         0 |            15 |                 74 |                 232 |
|         3 |         0 |            21 |                 65 |                  48 |
|         1 |         0 |            20 |                232 |                 234 |
|         2 |         0 |            17 |                 45 |                  26 |
|         1 |         0 |            50 |                116 |                 224 |
|         7 |         0 |             2 |                 88 |                  87 |
|         1 |         0 |            14 |                168 |                  60 |
|         1 |         0 |            33 |                181 |                 198 |
|         2 |         0 |            20 |                223 |                 163 |
|         5 |         0 |            21 |                 88 |                 181 |
|         5 |         0 |            25 |                  4 |                  41 |
|         7 |         0 |            26 |                146 |                  37 |
|         5 |         0 |            19 |                 37 |                   4 |
|         1 |         0 |            18 |                 80 |                  37 |
|         7 |         0 |            27 |                  4 |                 145 |
|         3 |         0 |            30 |                188 |                 125 |
|         5 |         0 |            25 |                106 |                  68 |
|         7 |         0 |            20 |                145 |                  95 |
|         2 |         0 |            11 |                157 |                 144 |
|         4 |         0 |             2 |                 40 |                  33 |
|         1 |         0 |            21 |                181 |                  79 |
|         7 |         0 |            23 |                181 |                  89 |
|         7 |         0 |            11 |                  4 |                   4 |
|         4 |         0 |            11 |                224 |                 232 |
|         1 |         0 |            14 |                 40 |                 257 |
|         3 |         0 |            10 |                 41 |                 168 |
|         6 |         0 |             8 |                226 |                 112 |
|         1 |         0 |             7 |                 41 |                  74 |
+-----------+-----------+---------------+--------------------+---------------------+

Waiting on bqjob_r19971faa0b3d2781_0000016ca4711671_1 ... (66s) Current status: DONE

In [19]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_train' gs://$BUCKET/train/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_r1bd025f531ecdec3_0000016ca4a80698_1 ... (49s) Current status: DONE

## TEST SET

In [14]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_test \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT
    -- pickup_datetime,
    -- dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    -- passenger_count,
    -- CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id --,
    -- CAST(rate_code AS INT64) AS rate_code,
    -- CAST(payment_type AS INT64) AS payment_type,
    -- CAST(fare_amount AS FLOAT64) AS fare_amount,
    -- CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    -- CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    -- CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0
    AND trip_distance < 3000
    AND fare_amount >= 2.5
    AND fare_amount < 6000
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) = 8'

+-----------+-----------+---------------+--------------------+---------------------+
| dayofweek | hourofday | trip_duration | pickup_location_id | dropoff_location_id |
+-----------+-----------+---------------+--------------------+---------------------+
|         7 |         0 |             2 |                255 |                 255 |
|         2 |         0 |            26 |                  7 |                 102 |
|         5 |         0 |            15 |                 26 |                  14 |
|         5 |         0 |            11 |                167 |                 159 |
|         5 |         0 |             6 |                116 |                  42 |
|         6 |         0 |             8 |                 12 |                  87 |
|         7 |         0 |            12 |                224 |                  79 |
|         6 |         0 |             4 |                209 |                  45 |
|         1 |         0 |            24 |                181 |                  79 |
|         7 |         0 |             9 |                 95 |                 135 |
|         1 |         0 |            10 |                 65 |                 233 |
|         5 |         0 |            16 |                 61 |                  79 |
|         1 |         0 |            24 |                 25 |                 146 |
|         1 |         0 |            38 |                 74 |                 181 |
|         1 |         0 |             7 |                129 |                 260 |
|         6 |         0 |             6 |                 88 |                 209 |
|         1 |         0 |             2 |                 80 |                  80 |
|         7 |         0 |             7 |                181 |                 181 |
|         1 |         0 |             5 |                 41 |                  42 |
|         7 |         0 |            15 |                255 |                 148 |
|         6 |         0 |             6 |                146 |                   7 |
|         1 |         0 |             8 |                255 |                 112 |
|         6 |         0 |             4 |                 42 |                  43 |
|         5 |         0 |             5 |                255 |                  80 |
|         6 |         0 |             5 |                112 |                  80 |
|         5 |         0 |            26 |                 88 |                  36 |
|         6 |         0 |             1 |                 40 |                  40 |
|         1 |         0 |          1431 |                198 |                 113 |
|         3 |         0 |             1 |                265 |                 265 |
|         7 |         0 |            19 |                  7 |                 142 |
|         7 |         0 |             6 |                 74 |                  41 |
|         4 |         0 |             9 |                220 |                 265 |
|         1 |         0 |            12 |                 52 |                 189 |
|         7 |         0 |            16 |                232 |                 112 |
|         6 |         0 |            10 |                232 |                 158 |
|         1 |         0 |             4 |                224 |                 107 |
|         2 |         0 |             3 |                 74 |                  41 |
|         5 |         0 |            12 |                 41 |                 239 |
|         7 |         0 |            13 |                 41 |                  42 |
|         6 |         0 |             8 |                146 |                   7 |
|         5 |         0 |             3 |                181 |                 181 |
|         1 |         0 |            13 |                244 |                  48 |
|         5 |         0 |             1 |                 74 |                  75 |
|         1 |         0 |            16 |                  4 |                  90 |
|         7 |         0 |             8 |                 45 |                 148 |
|         6 |         0 |            19 |                 36 |                  25 |
|         1 |         0 |            16 |                  4 |                  33 |
|         4 |         0 |            14 |                224 |                 114 |
|         3 |         0 |             9 |                146 |                   7 |
|         5 |         0 |             5 |                209 |                 148 |
|         5 |         0 |            10 |                146 |                 223 |
|         3 |         0 |             2 |                 41 |                  43 |
|         2 |         0 |            16 |                 45 |                 234 |
|         5 |         0 |             4 |                255 |                 255 |
|         7 |         0 |            15 |                112 |                 181 |
|         2 |         0 |             2 |                 74 |                  74 |
|         4 |         0 |            22 |                  4 |                  97 |
|         3 |         0 |            13 |                  7 |                 196 |
|         6 |         0 |            13 |                 97 |                  80 |
|         7 |         0 |            15 |                 10 |                  76 |
|         5 |         0 |            20 |                 42 |                 169 |
|         5 |         0 |            13 |                  7 |                 229 |
|         5 |         0 |            11 |                223 |                 173 |
|         4 |         0 |             5 |                181 |                  65 |
|         1 |         0 |            22 |                255 |                 249 |
|         2 |         0 |            14 |                 24 |                 244 |
|         7 |         0 |            11 |                145 |                   7 |
|         6 |         0 |             2 |                145 |                 112 |
|         3 |         0 |            18 |                  7 |                  25 |
|         6 |         0 |            18 |                 45 |                 236 |
|         7 |         0 |             1 |                265 |                 265 |
|         7 |         0 |            19 |                  7 |                  95 |
|         1 |         0 |            21 |                  4 |                 238 |
|         7 |         0 |            19 |                 37 |                  33 |
|         7 |         0 |            18 |                 41 |                  41 |
|         7 |         0 |            12 |                 37 |                 198 |
|         7 |         0 |            13 |                 97 |                 181 |
|         4 |         0 |             8 |                226 |                   7 |
|         1 |         0 |             8 |                146 |                   7 |
|         1 |         0 |             3 |                 74 |                  75 |
|         1 |         0 |             3 |                 42 |                  41 |
|         3 |         0 |            15 |                 24 |                  90 |
|         4 |         0 |            10 |                 41 |                  48 |
|         1 |         0 |             7 |                227 |                  22 |
|         6 |         0 |             8 |                116 |                  41 |
|         2 |         0 |             9 |                 92 |                 223 |
|         7 |         0 |            15 |                232 |                 263 |
|         4 |         0 |            23 |                 88 |                 265 |
|         4 |         0 |            25 |                 41 |                 157 |
|         1 |         0 |            27 |                256 |                 162 |
|         2 |         0 |            24 |                 70 |                  50 |
|         1 |         0 |            12 |                 45 |                 148 |
|         1 |         0 |            22 |                255 |                 137 |
|         3 |         0 |            15 |                232 |                 198 |
|         1 |         0 |             5 |                112 |                 112 |
|         7 |         0 |            22 |                145 |                 173 |
|         3 |         0 |            26 |                209 |                 116 |
|         7 |         0 |            30 |                 45 |                 116 |
|         5 |         0 |            15 |                256 |                 209 |
|         5 |         0 |            10 |                226 |                  82 |
+-----------+-----------+---------------+--------------------+---------------------+

Waiting on bqjob_r109edc43619f815b_0000016ca4741131_1 ... (49s) Current status: DONE

In [20]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_test' gs://$BUCKET/test/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_r20f6ded4de78eb14_0000016ca4a9582b_1 ... (35s) Current status: DONE

## VALIDATION SET

In [16]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_val \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT
    -- pickup_datetime,
    -- dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    -- passenger_count,
    -- CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id --,
    -- CAST(rate_code AS INT64) AS rate_code,
    -- CAST(payment_type AS INT64) AS payment_type,
    -- CAST(fare_amount AS FLOAT64) AS fare_amount,
    -- CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    -- CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    -- CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0
    AND trip_distance < 3000
    AND fare_amount >= 2.5
    AND fare_amount < 6000
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) = 9'

+-----------+-----------+---------------+--------------------+---------------------+
| dayofweek | hourofday | trip_duration | pickup_location_id | dropoff_location_id |
+-----------+-----------+---------------+--------------------+---------------------+
|         7 |         0 |            20 |                146 |                 209 |
|         7 |         0 |            29 |                 97 |                  90 |
|         1 |         0 |            23 |                 42 |                 119 |
|         4 |         0 |             9 |                 88 |                 144 |
|         7 |         0 |            10 |                 80 |                 217 |
|         2 |         0 |            15 |                181 |                 228 |
|         2 |         0 |             9 |                145 |                 112 |
|         4 |         0 |             1 |                 74 |                  75 |
|         2 |         0 |            15 |                181 |                  37 |
|         3 |         0 |            10 |                112 |                 146 |
|         7 |         0 |            10 |                 37 |                  17 |
|         1 |         0 |             5 |                 74 |                  41 |
|         5 |         0 |             2 |                152 |                 152 |
|         5 |         0 |             2 |                 61 |                  61 |
|         1 |         0 |             9 |                255 |                 112 |
|         7 |         0 |             3 |                 74 |                  75 |
|         7 |         0 |            27 |                181 |                 164 |
|         5 |         0 |            25 |                 36 |                 197 |
|         1 |         0 |            32 |                  7 |                  62 |
|         7 |         0 |             6 |                 88 |                  87 |
|         1 |         0 |             1 |                193 |                 193 |
|         1 |         0 |            24 |                255 |                 107 |
|         3 |         0 |            19 |                 45 |                  89 |
|         6 |         0 |            10 |                 97 |                  61 |
|         1 |         0 |             4 |                116 |                 166 |
|         6 |         0 |            10 |                232 |                 112 |
|         5 |         0 |             2 |                 82 |                 160 |
|         1 |         0 |             3 |                 74 |                  41 |
|         1 |         0 |            10 |                  4 |                 261 |
|         6 |         0 |            13 |                256 |                  36 |
|         7 |         0 |            12 |                 45 |                 148 |
|         7 |         0 |             9 |                 25 |                  54 |
|         6 |         0 |             7 |                145 |                 112 |
|         3 |         0 |             4 |                 33 |                  25 |
|         7 |         0 |             4 |                129 |                 129 |
|         1 |         0 |            33 |                 41 |                 144 |
|         6 |         0 |            21 |                  7 |                  82 |
|         4 |         0 |            11 |                232 |                 186 |
|         1 |         0 |             7 |                  7 |                   7 |
|         6 |         0 |            10 |                256 |                 198 |
|         7 |         0 |             7 |                181 |                  49 |
|         6 |         0 |             4 |                189 |                  61 |
|         1 |         0 |             6 |                257 |                 133 |
|         3 |         0 |            17 |                 41 |                  69 |
|         7 |         0 |            10 |                224 |                 140 |
|         1 |         0 |             2 |                  7 |                   7 |
|         6 |         0 |             4 |                223 |                   7 |
|         5 |         0 |            15 |                 41 |                 136 |
|         1 |         0 |            26 |                 88 |                 255 |
|         6 |         0 |            25 |                152 |                  18 |
|         6 |         0 |            26 |                 28 |                 249 |
|         7 |         0 |            27 |                134 |                 230 |
|         6 |         0 |             9 |                181 |                 188 |
|         2 |         0 |             6 |                  7 |                   7 |
|         7 |         0 |             5 |                226 |                 260 |
|         7 |         0 |             2 |                146 |                   7 |
|         2 |         0 |            25 |                 24 |                 262 |
|         7 |         0 |            21 |                 45 |                 230 |
|         1 |         0 |             4 |                 80 |                 112 |
|         7 |         0 |            26 |                 88 |                 239 |
|         4 |         0 |            21 |                112 |                 230 |
|         7 |         0 |            15 |                  4 |                 140 |
|         1 |         0 |             8 |                145 |                 179 |
|         7 |         0 |             6 |                196 |                  95 |
|         4 |         0 |            20 |                146 |                 164 |
|         2 |         0 |             4 |                 89 |                 133 |
|         1 |         0 |            23 |                255 |                  36 |
|         5 |         0 |            10 |                  4 |                  90 |
|         6 |         0 |             7 |                209 |                   4 |
|         6 |         0 |            20 |                 97 |                  37 |
|         6 |         0 |             5 |                 45 |                 261 |
|         7 |         0 |            19 |                255 |                  97 |
|         7 |         0 |             9 |                255 |                 148 |
|         1 |         0 |             7 |                260 |                 129 |
|         1 |         0 |             4 |                 40 |                  40 |
|         1 |         0 |            40 |                129 |                 229 |
|         1 |         0 |            20 |                 97 |                   4 |
|         3 |         0 |            15 |                181 |                 107 |
|         5 |         0 |             2 |                243 |                 127 |
|         1 |         0 |            19 |                  4 |                 164 |
|         7 |         0 |            11 |                 33 |                 181 |
|         1 |         0 |             4 |                 24 |                 238 |
|         2 |         0 |             6 |                226 |                   7 |
|         7 |         0 |            13 |                 88 |                  79 |
|         5 |         0 |             4 |                 88 |                 231 |
|         6 |         0 |             8 |                 74 |                 152 |
|         1 |         0 |            10 |                 25 |                 231 |
|         7 |         0 |             9 |                 41 |                  75 |
|         1 |         0 |             6 |                106 |                  25 |
|         2 |         0 |             2 |                 24 |                 166 |
|         5 |         0 |            14 |                209 |                 186 |
|         7 |         0 |             8 |                 97 |                 148 |
|         6 |         0 |            12 |                225 |                 177 |
|         2 |         0 |            14 |                116 |                 107 |
|         4 |         0 |            33 |                244 |                 132 |
|         3 |         0 |            15 |                 74 |                 116 |
|         6 |         0 |            15 |                228 |                  14 |
|         3 |         0 |             8 |                 89 |                  71 |
|         2 |         0 |             9 |                152 |                 239 |
|         4 |         0 |             4 |                  4 |                 224 |
+-----------+-----------+---------------+--------------------+---------------------+

Waiting on bqjob_r272007d72ed7f4a6_0000016ca475deed_1 ... (49s) Current status: DONE

In [21]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_val' gs://$BUCKET/val/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_r64d94997d5243573_0000016ca4a9eb33_1 ... (24s) Current status: DONE