# Read data from bigquery and write them in GCS

Original data from public dataset in bigquery: bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018.

* create query to clean data and keep only columns I need
* create bigquery dataset within `event-driven-ml` project
* save dataset as partitioned csv in GCS (I don't know if I need this step yet)

In [1]:
from google.cloud import bigquery as bq

In [2]:
bq_client = bq.Client()

In [3]:
import os
PROJECT = 'event-driven-ml'    # CHANGE THIS
BUCKET = 'edml/data/taxi-trips' # REPLACE WITH YOUR BUCKET NAME. Use a regional bucket in the region you selected.
REGION = 'eu' # Choose an available region for Cloud MLE from https://cloud.google.com/ml-engine/docs/regions.

# for bash
os.environ['PROJECT'] = PROJECT
os.environ['BUCKET'] = BUCKET
os.environ['REGION'] = REGION

In [4]:
%%bash
gcloud config set project $PROJECT

Updated property [core/project].
WARNING: You do not appear to have access to project [event-driven-ml] or it does not exist.

## TRAINING SET

In [10]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_train \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT GENERATE_UUID() as uuid, dayofweek, hourofday, pickup_borough, dropoff_borough, trip_duration FROM
(SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) -1 AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0.0
    AND trip_distance < 3000.0
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) < 8
) AS trips

INNER JOIN
(SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS pickup_borough FROM 
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS pu_zones
ON trips.pickup_location_id = pu_zones.zone_id

INNER JOIN (SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS dropoff_borough FROM
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS do_zones
ON trips.dropoff_location_id = do_zones.zone_id'

+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
|                 uuid                 | dayofweek | hourofday | pickup_borough | dropoff_borough | trip_duration |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
| 3997a3fc-b655-4557-bf5e-525fe965e739 |         6 |         1 | Manhattan      | Brooklyn        |            31 |
| bf8b465f-c2df-4e2a-920e-50e7ca2509ac |         3 |        13 | Manhattan      | Brooklyn        |            37 |
| 63fae36d-7d79-4447-aa30-76973e0fb3a6 |         6 |        20 | Manhattan      | Brooklyn        |            29 |
| 42cc9786-6428-4d15-8346-d8d32f2eb207 |         3 |        18 | Queens         | Manhattan       |            54 |
| b81834ae-e662-42df-ad70-dcf14dc97946 |         1 |         9 | Manhattan      | Queens          |            49 |
| 9737eb18-9fe9-4a82-bb8c-6a5735c43f2e |         5 |        16 | Manhattan      | Queens          |            41 |
| 71f94c53-ebd3-439b-8d54-406418b7dd87 |         2 |        11 | Manhattan      | Manhattan       |            26 |
| 577ab0a2-c25e-4716-8e31-96cc896179d0 |         0 |        14 | Manhattan      | Queens          |            24 |
| 1c5d63df-5bd5-4e07-b4e4-9067199860ad |         5 |         2 | Manhattan      | Brooklyn        |            22 |
| 3a3d17f7-499c-43a2-9a93-6e71441523df |         2 |        14 | Queens         | Manhattan       |            28 |
| 6c755e4b-5503-4971-b4ff-d05c97390d00 |         4 |        12 | Manhattan      | Queens          |            21 |
| eeabc5bb-d114-4f79-a040-2c9607b270e0 |         5 |        16 | Manhattan      | Manhattan       |            30 |
| 40825b67-847d-437b-bee9-1fc6921cdbf3 |         0 |         7 | Manhattan      | Queens          |            19 |
| e8587287-65af-40d5-af25-2fae5b25bcb4 |         4 |        23 | Queens         | Manhattan       |            15 |
| c0c9766e-8360-4df3-9d65-06161e265f05 |         6 |        12 | Bronx          | Bronx           |            37 |
| 1bfc738b-db8d-495a-91f8-74e3dfa63cf4 |         4 |        12 | Manhattan      | Manhattan       |            47 |
| 161fba30-9398-4fba-a3d4-9b77a28c3706 |         4 |        23 | Manhattan      | Manhattan       |            38 |
| b1ef3e73-9c57-4ed9-af06-3404992a7fbd |         1 |        21 | Queens         | Manhattan       |            25 |
| def41408-e476-49e1-bd0b-3b47deb6c990 |         3 |        18 | Queens         | Manhattan       |            42 |
| 5d47b9e8-8e93-4149-bebd-196b9e007ff3 |         3 |        13 | Queens         | Manhattan       |            27 |
| 4d3d3a5e-312e-49d0-8346-11395a4e06dd |         4 |        15 | Manhattan      | Queens          |            34 |
| f0fd5ff8-248f-406c-ae02-bfc53cff0251 |         2 |        20 | Queens         | Manhattan       |            20 |
| cd72294b-f65e-4208-8618-b051115eb461 |         6 |        22 | Manhattan      | Manhattan       |             1 |
| 05fb32e9-8980-4bc6-b439-369037129844 |         2 |        21 | Queens         | Manhattan       |            18 |
| b9cc87db-c1e0-4db7-8a0a-952d755a6155 |         2 |        12 | Manhattan      | Brooklyn        |            33 |
| 29cc6915-2455-4885-9435-556493bc3a52 |         0 |        17 | Queens         | Manhattan       |            42 |
| 6aa2781c-f094-424e-8b6a-681c89aac1ef |         3 |         9 | Queens         | Manhattan       |            36 |
| 841b63c2-8ca0-41c0-afa7-f3e2a1465e0d |         1 |        23 | Manhattan      | Brooklyn        |            22 |
| 7feea7ac-f608-41b4-9377-91401da3afff |         0 |        15 | Manhattan      | Manhattan       |            43 |
| 738b9753-acbd-485c-aeb6-610737b18a6d |         5 |        17 | Queens         | Manhattan       |            73 |
| 1184274d-7716-4e1f-b716-f8603b7c5b79 |         0 |         0 | Manhattan      | Brooklyn        |            42 |
| 2199c90c-0f8b-48fe-9efa-596808695273 |         2 |        23 | Queens         | Manhattan       |            17 |
| dd661303-92f7-4a98-a473-f956bbbcac96 |         0 |        13 | Manhattan      | Manhattan       |            37 |
| 9323a4cf-fac1-4f7d-9001-69ee3496e6b8 |         2 |        19 | Manhattan      | Brooklyn        |            33 |
| c6003c6b-9641-4449-b821-f1198d41ae93 |         3 |        21 | Queens         | Brooklyn        |            23 |
| 29cebec9-b630-4d7f-96b3-38d1bd7e91ec |         5 |        12 | Manhattan      | Manhattan       |            25 |
| bb7bf48f-1b15-4fa9-b330-485dab873def |         6 |        17 | Manhattan      | Manhattan       |            39 |
| 83239d3e-bb31-4889-8308-7c3c3a42238a |         2 |        15 | Manhattan      | Manhattan       |            33 |
| d69f456d-e7f2-44f9-9b09-3c213f3192c2 |         4 |        21 | Manhattan      | Brooklyn        |            30 |
| f93814c6-7e34-4df4-845a-0ac13f08e6ad |         0 |        18 | Queens         | Manhattan       |            21 |
| 8223bb01-c7ed-4507-b8c6-88316ce014ff |         1 |        19 | Manhattan      | Manhattan       |            16 |
| b229615b-ed0c-4e86-b648-6ee63905da67 |         5 |         9 | Manhattan      | Manhattan       |            41 |
| ea7d2945-3e39-4978-aa94-8c10e1eb1af4 |         3 |        13 | Queens         | Manhattan       |            44 |
| 7579c26c-53d1-4ae8-9b9f-09c4b63b2373 |         0 |        16 | Queens         | Manhattan       |            32 |
| ea176eb3-9b72-49d9-966e-9bbc0c75ad66 |         2 |         0 | Manhattan      | Manhattan       |            17 |
| dad8f249-7e85-4d65-8c3c-527a91bf73ac |         5 |         8 | Queens         | Queens          |            32 |
| b8e334de-ffd5-4d68-b3c1-b1914336f973 |         6 |        22 | Manhattan      | Brooklyn        |            29 |
| b1501671-7d6b-483b-a58b-af287fe8f6dd |         4 |        23 | Manhattan      | Bronx           |            26 |
| 04e08df5-bf0f-4faa-ade6-a0f229bb00c0 |         2 |        23 | Manhattan      | Queens          |            23 |
| 6d71c6d0-96cb-4caa-9002-290d3bfe25d7 |         1 |        22 | Manhattan      | Manhattan       |            25 |
| 36665ecd-b530-486b-922c-7572b8722c0d |         5 |        11 | Manhattan      | Queens          |            33 |
| 459846ff-ead8-4b03-b2cc-b00fabc54ee5 |         5 |        21 | Queens         | Manhattan       |            32 |
| 76e3388e-9641-46a7-8aed-cf96079efbb5 |         5 |        18 | Queens         | Manhattan       |            40 |
| fad175a5-2605-4338-9eb9-86e3f7317162 |         3 |        22 | Queens         | Manhattan       |            25 |
| 4ae41b2b-101e-406e-a38a-370909ccaacb |         6 |         3 | Manhattan      | Manhattan       |            23 |
| 5bf3924e-3afc-4b00-84b8-a54a8f9e869e |         3 |        21 | Manhattan      | Manhattan       |          1437 |
| 137b8030-60f5-4ecc-9221-1ea6fa947d9e |         3 |         0 | Manhattan      | Bronx           |            25 |
| 28c5a4dd-7ad6-4e83-908e-a0c3f2dcda58 |         3 |        21 | Manhattan      | Brooklyn        |            26 |
| 073c9ddd-8940-494e-914a-101d76d99c3c |         6 |        10 | Queens         | Manhattan       |            32 |
| e96f4df4-04f5-4c69-b43a-6edc916f3fc5 |         3 |        22 | Manhattan      | Queens          |            33 |
| 5296d816-876d-491a-9d95-8228e6556f7a |         2 |        22 | Manhattan      | Manhattan       |             1 |
| 1b5b5a71-3af1-4ab9-b679-16d28333f459 |         3 |         9 | Queens         | Queens          |            23 |
| 2e691f0b-fd16-48a3-8da3-ba2b2eda76c0 |         2 |         8 | Manhattan      | Manhattan       |            35 |
| db94b466-787c-4211-a1a4-de13c8da4d97 |         3 |        19 | Queens         | Brooklyn        |            38 |
| 0e49abf1-b024-4f76-b850-fd6508bf71bb |         0 |        18 | Manhattan      | Manhattan       |            35 |
| 3ef102ad-c178-4d57-98f6-a316e9c8d42e |         5 |         3 | Manhattan      | Brooklyn        |            29 |
| 45db9cc1-d842-4fd4-b4c1-beebf26679d0 |         3 |        22 | Manhattan      | Manhattan       |            21 |
| 68d615b0-9030-44e3-a65b-bcdfb086eb6f |         5 |         0 | Manhattan      | Manhattan       |            24 |
| bac6b86a-5257-4e58-a405-5a95f20f8978 |         6 |        16 | Queens         | Manhattan       |            39 |
| ab5275b9-3c71-4c5a-9212-7c0fa5cd8031 |         5 |         9 | Manhattan      | Queens          |            40 |
| 44a43448-d1e1-419c-861b-143dcb963de3 |         5 |        12 | Manhattan      | Queens          |            29 |
| 8c417375-76c6-4ff7-990b-930e542f5ebf |         6 |        23 | Manhattan      | Brooklyn        |            27 |
| 5ee2e907-7f6d-4a21-8a81-2dd2617a3d33 |         3 |        15 | Manhattan      | Manhattan       |            40 |
| 73113d23-be6d-4c89-bec2-922be1f0f2c0 |         1 |        16 | Manhattan      | Bronx           |            55 |
| 2aaac27a-7034-4980-8735-9a8d92406bf2 |         0 |        16 | Manhattan      | Queens          |            30 |
| cf01843d-37cd-4361-9306-fe6426416abc |         4 |        19 | Queens         | Manhattan       |            33 |
| c816cd77-3447-4c55-a1d8-d55232d531e6 |         4 |        21 | Manhattan      | Manhattan       |             2 |
| 7ce87c57-4c8b-4d67-8948-f8a9e5ddbff8 |         3 |         6 | Manhattan      | Queens          |            36 |
| f443676c-e4e4-4e51-bba0-e112a2b3cd5c |         0 |        21 | Manhattan      | Manhattan       |            17 |
| 45f99889-cb7f-43d6-8b9d-79fab2760b25 |         3 |        19 | Manhattan      | Brooklyn        |            38 |
| a04b1f3a-5c72-47f9-b5f0-15512d183403 |         5 |        11 | Manhattan      | Brooklyn        |            69 |
| 385695b0-2d57-4897-8387-c60a80b5c655 |         5 |        22 | Manhattan      | Manhattan       |            21 |
| 64820c9d-b849-4c36-9616-a89acbdb58f4 |         6 |        15 | Queens         | Queens          |            31 |
| 0992171f-a985-4548-8d3e-23f794324023 |         5 |        14 | Manhattan      | Queens          |            60 |
| 44ba908c-3ac3-4ade-a1aa-bcac195cc4fe |         5 |        15 | Manhattan      | Manhattan       |            44 |
| be013711-6aab-4a27-9b01-00a48c4347a7 |         3 |        17 | Manhattan      | Manhattan       |            44 |
| 8c5fa0a9-5449-422a-bb86-d9466b1320e4 |         3 |        15 | Manhattan      | Brooklyn        |            54 |
| 5d5f22a9-b33b-4231-bb8a-7614f87c6107 |         5 |        19 | Manhattan      | Manhattan       |            27 |
| edf9dee2-0331-4ef1-a716-a221e920cbaa |         6 |        22 | Manhattan      | Brooklyn        |            57 |
| 805cb053-bedc-4f69-ae19-1c15387f6125 |         6 |         7 | Queens         | Brooklyn        |            23 |
| 351de9ca-d854-4f1b-ae9c-3a99419710df |         0 |        13 | Manhattan      | Manhattan       |            26 |
| e3c6972f-3cc2-4c82-9911-db04cf217e47 |         6 |         0 | Manhattan      | Brooklyn        |            31 |
| 0f6a83b5-08ab-4c48-96a5-e1ee4d4d572f |         5 |        10 | Manhattan      | Manhattan       |            25 |
| 02109b31-24a4-431d-94f6-2d3e9babd71d |         4 |        15 | Queens         | Manhattan       |           124 |
| 14a5b2fc-e8cf-47c3-a8c3-fbda745041a5 |         2 |        20 | Manhattan      | Manhattan       |            23 |
| c452b1bc-9a1c-4377-ba47-2d3bd3401c34 |         2 |        15 | Manhattan      | Manhattan       |            23 |
| 8a4b8116-bd61-4ef2-8672-3cd8ddee8eba |         1 |         5 | Manhattan      | Queens          |            17 |
| 8e439ab4-238c-4a4d-a94d-6bad798f3cf9 |         6 |        13 | Manhattan      | Manhattan       |            35 |
| bbde7d4b-d29a-4d23-936c-56ddcd126fc2 |         2 |        18 | Manhattan      | Manhattan       |            33 |
| 8fd537c0-72e3-41ef-a9e1-77a50201c2d9 |         5 |         3 | Manhattan      | Brooklyn        |            27 |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+

Waiting on bqjob_r374923bca1d2487d_0000016e41eab3e4_1 ... (87s) Current status: DONE

In [11]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_train' gs://$BUCKET/train/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_r1a6e0c4a34fe586b_0000016e41ece2b4_1 ... (67s) Current status: DONE

## TEST SET

In [12]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_test \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT GENERATE_UUID() as uuid, dayofweek, hourofday, pickup_borough, dropoff_borough, trip_duration FROM
(SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) -1 AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0.0
    AND trip_distance < 3000.0
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) = 8
) AS trips

INNER JOIN
(SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS pickup_borough FROM 
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS pu_zones
ON trips.pickup_location_id = pu_zones.zone_id

INNER JOIN (SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS dropoff_borough FROM
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS do_zones
ON trips.dropoff_location_id = do_zones.zone_id'

+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
|                 uuid                 | dayofweek | hourofday | pickup_borough | dropoff_borough | trip_duration |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
| 97a55009-d21b-413a-bfc2-99bd69a9f117 |         5 |         1 | Queens         | Queens          |            25 |
| 04f5b556-1f4a-4582-8cbc-aa46dfcc1e96 |         1 |        19 | Queens         | Manhattan       |            50 |
| 807b53c8-2f1e-4589-a549-2ff1be66922f |         3 |        13 | Manhattan      | Manhattan       |            20 |
| 16f5bf7d-e9d0-40f0-a59e-dfd1c84aaf6d |         5 |         5 | Manhattan      | Queens          |            20 |
| b00a8853-0846-4f09-97aa-5511883cbfc7 |         3 |        17 | Manhattan      | EWR             |            74 |
| 0cdb3806-195b-4d5a-864a-598470c4a4f4 |         2 |        21 | Manhattan      | Brooklyn        |            25 |
| 0a970c8a-1a53-4efe-b015-c3812a0e4cee |         6 |        16 | Manhattan      | Manhattan       |            37 |
| 8c3a62ef-35ed-4014-a86b-72f17f7e56c8 |         1 |        20 | Manhattan      | Manhattan       |            14 |
| e2a46705-21cc-4b93-969d-dae23f8091cb |         2 |        10 | Manhattan      | Queens          |            22 |
| 7f6cc446-db02-4f7e-a07d-f1768f4a0f4a |         5 |        17 | Queens         | Manhattan       |            76 |
| acbd5311-a017-49b9-8156-8ffab18bf486 |         1 |        23 | Queens         | Manhattan       |            20 |
| 0a946f0b-1151-4ba9-bcfc-7b594c20e5cf |         1 |         0 | Manhattan      | Brooklyn        |            35 |
| ba3e5603-1ec6-4326-8035-8d90f3d32be2 |         4 |        11 | Queens         | Manhattan       |            32 |
| 98fb1172-8e10-4dc6-8329-87c1d06f30db |         5 |        21 | Queens         | Manhattan       |            30 |
| 257404cc-a419-4648-852f-775e38724a4b |         6 |        22 | Queens         | Manhattan       |            23 |
| 8150aa26-18bc-4ee1-b4b0-eacd4a88f97c |         2 |        12 | Manhattan      | Manhattan       |            24 |
| 4490ff3e-ba53-4e99-b132-74b0a04fa973 |         3 |        21 | Queens         | Brooklyn        |            23 |
| 34cb8cd9-0f67-42a2-b8a3-f0e0521ff135 |         4 |        20 | Queens         | Brooklyn        |            32 |
| 6a69605d-b263-4537-8a15-36a57d88031f |         3 |         9 | Manhattan      | Manhattan       |            40 |
| 3255c9ea-4733-430d-9ccb-9d783bbc6bf2 |         2 |        22 | Manhattan      | Manhattan       |            24 |
| f61226e0-8d41-41d7-a6cb-6b50c9c5402f |         0 |         2 | Manhattan      | Queens          |            24 |
| 333b6576-bcbe-4ecb-bc88-416f455def3a |         2 |        17 | Manhattan      | Manhattan       |             1 |
| e58a0118-c932-4536-b3ff-9f1029584f59 |         0 |        12 | Manhattan      | Queens          |            26 |
| 53606dff-7366-4d9a-bb3f-278383f05962 |         4 |         7 | Manhattan      | Manhattan       |            33 |
| f3a51d94-817d-4b92-bbdc-0283d77c3d44 |         5 |        21 | Manhattan      | Brooklyn        |            37 |
| 58a69081-c8df-41ed-8f52-b0037308ac0b |         2 |        17 | Manhattan      | Manhattan       |            40 |
| 5f4d6ba9-bbc8-4103-ab55-142da1efff2c |         0 |        20 | Queens         | Manhattan       |            33 |
| 866a62b6-49c9-4c0e-9922-33d32816bc47 |         4 |         8 | Queens         | Manhattan       |            64 |
| 2ed9d444-73f0-401e-8c60-95582482f3c3 |         5 |        13 | Manhattan      | Manhattan       |            33 |
| a6e751e2-3b52-4471-8b2b-9e686204295f |         3 |        10 | Manhattan      | Brooklyn        |            38 |
| a0500e6e-7b92-4511-9dd2-38f19a6f2c6d |         5 |        21 | Queens         | Brooklyn        |            36 |
| b55e92c7-a905-480e-8162-798115201156 |         4 |        13 | Manhattan      | Queens          |            31 |
| 96ea443f-da89-4acb-8f85-8f4e441f0aa3 |         0 |        23 | Queens         | Manhattan       |            24 |
| c2441eca-da75-4123-bb73-b1a6de49a0ce |         5 |        20 | Manhattan      | Brooklyn        |            26 |
| 0644f5fe-7a37-4423-8522-6eaf3ce4a6ae |         0 |         0 | Manhattan      | Manhattan       |             1 |
| 72816750-7994-4cf4-bc44-c36f2c6460e9 |         5 |        15 | Queens         | Manhattan       |            42 |
| ff3585a5-c03d-448f-a602-7c53c63f0575 |         5 |        22 | Brooklyn       | Brooklyn        |            31 |
| d434723e-16bf-4bc8-8f83-a9ac156edb79 |         4 |        23 | Manhattan      | Brooklyn        |            49 |
| c92721ab-fb88-4e9a-9f05-e0e7b52102d1 |         5 |        12 | Queens         | Manhattan       |            41 |
| 2192dc95-8742-49d5-af45-c52afe414a50 |         4 |        22 | Manhattan      | Brooklyn        |            33 |
| 3b677c85-5da1-47c4-927b-5a5a7f6e829a |         5 |        12 | Manhattan      | Manhattan       |            45 |
| 53a77b4f-6af6-4a12-8ed8-a816a515f761 |         4 |        20 | Manhattan      | Manhattan       |             2 |
| 2182c25d-4d40-40d0-bceb-e640b47ea5f3 |         5 |         9 | Manhattan      | Manhattan       |            30 |
| 9bbfd45b-eb96-4cc6-8bee-c6679697e6d1 |         5 |         9 | Queens         | Manhattan       |            75 |
| 4733c176-aa3b-4531-baff-1ff1f456812e |         1 |        13 | Manhattan      | Manhattan       |            44 |
| 0f877907-b485-4d0b-a148-d0926f4cefd7 |         1 |         5 | Manhattan      | Queens          |            18 |
| 54cb9b38-b8df-4eb7-9063-807dd8a66449 |         1 |        18 | Queens         | Brooklyn        |            84 |
| 9a767030-9d42-4d2a-9a07-f2e7c529a6ac |         2 |        12 | Manhattan      | Manhattan       |            27 |
| ca1f6c3d-6000-4123-9fdb-b4a8ce7a9f06 |         2 |        13 | Manhattan      | Manhattan       |             1 |
| 946c9945-574c-4d66-918c-2893947a036b |         6 |        19 | Manhattan      | Manhattan       |            38 |
| ceacc2ee-eea1-4085-88f7-bb4bd9eeecd5 |         2 |        22 | Queens         | Brooklyn        |            34 |
| 17e16fbb-934c-4041-aa8a-81cc59a6a685 |         2 |        13 | Manhattan      | Queens          |            50 |
| 2cbc41cd-400e-46ca-b9d9-72df64613f8b |         3 |        23 | Manhattan      | Queens          |            29 |
| cff6e3c7-dd74-4714-aac2-aa4650305c95 |         3 |        12 | Manhattan      | Manhattan       |            24 |
| a6e847bf-79ff-4a74-93a9-9c475529780d |         4 |        19 | Manhattan      | Queens          |            37 |
| 4e133f9a-40f2-48e4-8e92-40042687548c |         1 |        19 | Manhattan      | Manhattan       |            27 |
| 7b7eb81a-0c67-480c-a860-b339132b6c08 |         1 |        10 | Manhattan      | Queens          |            42 |
| 7b4f2491-02fc-459c-8e80-0df59c497e63 |         4 |        12 | Queens         | Manhattan       |            28 |
| 9a1da776-fff9-4bc8-93bc-7b8d3e2ed0ba |         1 |        22 | Queens         | Manhattan       |            20 |
| 0c0cb4e1-a8ea-4e59-9540-e6c565f79e09 |         1 |         9 | Brooklyn       | Manhattan       |            30 |
| d04598fb-b3d5-405f-ba77-039a12615f7e |         4 |        10 | Queens         | Queens          |            37 |
| 28807706-60d0-4636-b476-927b8dcf5f0d |         3 |        17 | Queens         | Manhattan       |            21 |
| a9f311af-8787-4b79-9f06-6a68e0b5e71a |         5 |         9 | Manhattan      | Brooklyn        |            28 |
| 86fc2341-9093-423d-b4b1-4fb8d9e1333f |         5 |        22 | Manhattan      | Bronx           |            30 |
| 26523edc-9ae3-424f-9827-e72821bf8929 |         4 |        13 | Queens         | Queens          |            37 |
| 91302ee2-bb7f-49ab-8a29-72f0f214464b |         4 |         7 | Manhattan      | Manhattan       |             1 |
| 8466ca36-1ab2-44b3-9b9e-d760428fd128 |         3 |        20 | Queens         | Manhattan       |            21 |
| 41ba24c8-c1f0-41df-836a-7a13e610bc61 |         5 |         7 | Manhattan      | Manhattan       |            33 |
| 7954d268-9495-42aa-9bc9-731fb037d3e8 |         6 |        13 | Manhattan      | Manhattan       |            32 |
| 891e4b87-6525-4744-9c2f-0648aff30513 |         3 |         8 | Queens         | Manhattan       |            53 |
| 25646c01-7daa-493f-b3ee-4d4ed8eab037 |         3 |        13 | Queens         | Manhattan       |            31 |
| a743a9e1-c329-4f39-b3b2-9f95cf61cf53 |         6 |        15 | Manhattan      | Manhattan       |            37 |
| 734f0747-4983-4ed1-8d4a-f0ec0d3328b4 |         6 |         8 | Queens         | Manhattan       |            28 |
| cd55a576-e041-45ef-ad5b-3c498a4b9d44 |         5 |         6 | Manhattan      | Queens          |            18 |
| af5c4733-f814-4a54-86db-c579f5c681ca |         5 |         8 | Manhattan      | Manhattan       |            30 |
| 21241d35-49e1-41c5-8dca-71bf62a7eafc |         6 |        13 | Queens         | Manhattan       |            44 |
| 2de8f252-357e-462e-9b75-f59f0774d885 |         3 |        19 | Manhattan      | Queens          |            21 |
| 50450d18-b23c-4ec4-96af-1d781e6f0b38 |         3 |        14 | Manhattan      | Manhattan       |            32 |
| 409d5f4b-8970-45e1-9274-842ed78cf2cd |         5 |        14 | Queens         | Brooklyn        |            75 |
| 07ebd773-f4e3-43f4-9c39-057982a33898 |         2 |        19 | Queens         | Manhattan       |            27 |
| 007ef428-da70-47ed-9c47-7afdafd45a89 |         4 |        16 | Manhattan      | Manhattan       |            30 |
| bb85db1a-40e0-4cc8-83ff-60da756daf9f |         5 |         0 | Queens         | Manhattan       |            23 |
| 177c0799-7613-42cd-b646-3883e6bd0757 |         6 |         1 | Queens         | Brooklyn        |            25 |
| c41c03d2-c99a-46cd-b731-e01964afe7da |         3 |        16 | Manhattan      | Queens          |            55 |
| 6c51d568-4b94-4e19-afbe-3693919625b1 |         3 |         8 | Manhattan      | Queens          |            18 |
| 7be98bfc-6a2f-4e6f-be53-34f3e4c0d4a7 |         3 |        18 | Manhattan      | Brooklyn        |            43 |
| dabfc56e-19a6-4a91-adc0-8857b005d5cd |         3 |        11 | Queens         | Manhattan       |            40 |
| 6aa89456-588c-4c39-bcdd-7696fcac28eb |         5 |        15 | Queens         | Manhattan       |            33 |
| 978b878e-9d74-4c4a-88f2-9611c3161b40 |         6 |         0 | Manhattan      | Brooklyn        |            32 |
| 0d0afae2-2ab9-4ed5-9397-79abc3d2440a |         4 |        22 | Manhattan      | Manhattan       |            19 |
| b8f804d1-24f4-489d-a121-1f9f244c7243 |         6 |        23 | Manhattan      | Manhattan       |            20 |
| 8fa35350-4763-4f8b-a367-7bf39bedfe05 |         1 |        20 | Queens         | Manhattan       |            21 |
| f148de17-67c1-4fc7-a2cc-fc598ec03b06 |         6 |        23 | Manhattan      | Brooklyn        |            29 |
| cec4d08d-6daf-423b-a2f7-8a1b025e1077 |         2 |        14 | Manhattan      | Manhattan       |            27 |
| ab7cac27-c04d-4584-9902-f23b2b6d62d5 |         4 |        13 | Manhattan      | Manhattan       |            36 |
| 681c99bb-2cfe-437a-a130-d3c9b0cd75cf |         2 |        14 | Manhattan      | Manhattan       |            34 |
| 5f6a68de-63fb-441e-b092-c5077afb543d |         6 |        17 | Manhattan      | Manhattan       |            30 |
| 31c41922-b1a9-48fd-a029-a4bdb463f622 |         3 |        12 | Queens         | Manhattan       |            43 |
| ba60ca0f-b47e-4bf1-8e3f-12349dd728e2 |         2 |        16 | Queens         | Brooklyn        |          1414 |
| 8f34e365-dcf6-45ea-949e-6610ed42f918 |         3 |         1 | Queens         | Manhattan       |            16 |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+

Waiting on bqjob_r2d184e8cbc6b0af_0000016e41f0c816_1 ... (49s) Current status: DONE

In [13]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_test' gs://$BUCKET/test/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_r681120a9dd727d8e_0000016e41f27f96_1 ... (66s) Current status: DONE

## VALIDATION SET

In [8]:
%%bash

bq query \
--destination_table event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_eval \
--replace \
--use_legacy_sql=false \
--allow_large_results \
'SELECT GENERATE_UUID() as uuid, dayofweek, hourofday, pickup_borough, dropoff_borough, trip_duration FROM
(SELECT
    pickup_datetime,
    dropoff_datetime,
    EXTRACT(DAYOFWEEK FROM pickup_datetime) -1 AS dayofweek,
    EXTRACT(HOUR FROM pickup_datetime) AS hourofday,
    DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) AS trip_duration,
    passenger_count,
    CAST(trip_distance AS FLOAT64) AS trip_distance,
    CAST(pickup_location_id AS INT64) AS pickup_location_id,
    CAST(dropoff_location_id AS INT64) AS dropoff_location_id,
    CAST(rate_code AS INT64) AS rate_code,
    CAST(payment_type AS INT64) AS payment_type,
    CAST(fare_amount AS FLOAT64) AS fare_amount,
    CAST(tolls_amount AS FLOAT64) AS tolls_amount,
    CASE WHEN tolls_amount > 0.0 THEN 1.0 ELSE 0.0 END AS flag_tolls,
    CAST(total_amount AS FLOAT64) AS total_amount
FROM
    `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2018`
WHERE
    trip_distance > 0.0
    AND trip_distance < 3000.0
    AND fare_amount >= 2.5
    AND fare_amount < 6000.0
    AND total_amount > 0.0
    AND total_amount < 6000.0
    AND passenger_count > 0
    AND EXTRACT(YEAR from pickup_datetime) = 2018
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) > 0
    AND DATETIME_DIFF(dropoff_datetime, pickup_datetime, MINUTE) < 1440 
    AND MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))), 10) = 9
) AS trips

INNER JOIN
(SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS pickup_borough FROM 
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS pu_zones
ON trips.pickup_location_id = pu_zones.zone_id

INNER JOIN (SELECT DISTINCT CAST(zone_id AS INT64) AS zone_id, zone_name, borough AS dropoff_borough FROM
 `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`) AS do_zones
ON trips.dropoff_location_id = do_zones.zone_id'

+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
|                 uuid                 | dayofweek | hourofday | pickup_borough | dropoff_borough | trip_duration |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+
| e1bdc6de-5ff2-447d-a42d-54e6a7e79929 |         2 |        14 | Manhattan      | Manhattan       |            36 |
| fedee430-20e8-48e9-b247-39b18a59f8b5 |         4 |        14 | Queens         | Brooklyn        |            46 |
| 63a7c7f5-1045-48be-8839-59fd060957b2 |         2 |         5 | Queens         | Queens          |            21 |
| 6b5c7beb-b71b-491e-8e31-0deda7e49bea |         4 |        14 | Manhattan      | Queens          |            38 |
| 7556bcc7-2f6f-4010-b650-0d189c9f2810 |         5 |        21 | Queens         | Manhattan       |            24 |
| 7efe8042-507e-4c18-b971-dabfef2c3b06 |         2 |        13 | Queens         | Manhattan       |            31 |
| f09ac128-9946-447b-b1c3-c392b9179b1e |         4 |        20 | Brooklyn       | Queens          |            23 |
| 8d3ea172-7162-4bab-9a09-b40a2fe55ea7 |         2 |        21 | Manhattan      | Manhattan       |            22 |
| 237ee5d7-7f72-44bd-975f-5df49ca58c46 |         3 |         1 | Manhattan      | Brooklyn        |            25 |
| a250acd4-4968-4d61-ad59-58604e8108e7 |         6 |         1 | Manhattan      | Brooklyn        |            34 |
| 13306c3e-aeb9-4e68-99f7-9e3763d40521 |         4 |        18 | Manhattan      | Manhattan       |            46 |
| 2be9af7d-beb5-40e5-b2cc-407e53252f0e |         4 |        20 | Manhattan      | Manhattan       |           106 |
| 0bd42939-8f9a-4b9c-a588-485ffffe1e7e |         4 |        16 | Manhattan      | Manhattan       |            38 |
| c83d0de7-a2a7-497c-9d95-76a654e2b94c |         3 |         1 | Manhattan      | Brooklyn        |            28 |
| 928c7652-ae11-46b5-85ea-7e46a49c9547 |         2 |        21 | Manhattan      | Brooklyn        |            47 |
| 6f521196-8ace-404a-b8c0-5a3410fdd193 |         0 |        17 | Manhattan      | Brooklyn        |            40 |
| 7b9238c3-a2cf-4ced-908f-1322560a38cf |         2 |        22 | Queens         | Queens          |            32 |
| 3cf704b6-ee5b-4088-8ee7-7227f6ae6210 |         4 |        21 | Queens         | Manhattan       |            22 |
| e41c6254-ed62-4717-91bc-c6b32e2940c8 |         0 |         3 | Manhattan      | Manhattan       |            27 |
| 3d06c929-7b69-4c03-8487-49e26657f546 |         4 |        23 | Manhattan      | Manhattan       |            27 |
| 32b7876d-43b3-43c4-a00e-d0c4a2cb91a9 |         5 |        15 | Queens         | Brooklyn        |            49 |
| 6986eef0-86b9-4278-860b-9196f81f59fc |         1 |        21 | Manhattan      | Manhattan       |            35 |
| 1f33fd28-65b3-49fa-bd42-b8b4cc9ea978 |         5 |        14 | Queens         | Manhattan       |            32 |
| dbe686d6-ca53-4bfb-be8d-7a4320bac575 |         0 |        19 | Queens         | Manhattan       |            25 |
| 80831d60-f500-4b43-a12c-07b2262018e4 |         5 |        20 | Queens         | Manhattan       |            20 |
| 54b4d7c3-f0a2-4412-8432-f762d6a5ada9 |         2 |        22 | Manhattan      | Brooklyn        |            28 |
| bc515d20-04f1-4c24-96f6-bc214e92817e |         3 |         1 | Queens         | Brooklyn        |            31 |
| 1227243e-d4c5-4083-a4e9-f09fb60992ca |         4 |         9 | Manhattan      | Manhattan       |            57 |
| 25bf9ba9-a0fe-4320-9d89-bca13b0ec87a |         5 |        22 | Manhattan      | Manhattan       |            19 |
| 67872532-8097-484b-83d0-39338f0b0415 |         3 |         2 | Manhattan      | Brooklyn        |            23 |
| 6c9c8feb-6b57-44e8-ba03-9c0bc12f5c1d |         3 |         0 | Manhattan      | Queens          |            26 |
| 2acc717a-3ea9-4165-a6aa-4a418bf32a7c |         2 |        14 | Queens         | Queens          |            38 |
| 1458014b-f726-4ede-9a72-a310aa0a0b59 |         3 |        15 | Queens         | Brooklyn        |            62 |
| d0aa47be-baef-458c-befd-ae424966014b |         1 |        21 | Queens         | Manhattan       |            31 |
| ff1c010c-8ef8-4bba-a4b2-b9f3d1b0f85d |         5 |         5 | Manhattan      | Queens          |            14 |
| de11b06d-a9ba-4248-acbe-f06898f53c3c |         2 |        15 | Manhattan      | Bronx           |            65 |
| e7d9a97f-e53f-433a-b764-9475eb010ea7 |         4 |        20 | Manhattan      | Brooklyn        |            26 |
| 2f02dd46-187a-45da-b3c7-f9bf402f4f94 |         5 |        23 | Queens         | Manhattan       |            18 |
| 5e8e7715-0ae0-47ab-93a5-81b4fd509482 |         4 |        15 | Queens         | Manhattan       |            29 |
| 7bdad61a-ae86-4397-adb1-7d6bfa2e4c83 |         3 |        18 | Manhattan      | Manhattan       |            31 |
| a8a72ea3-838b-450b-8ed3-dfe2f53a955b |         4 |         6 | Manhattan      | Queens          |          1423 |
| d4ca8edf-77b3-44b2-adaa-a86156e519e0 |         5 |         1 | Manhattan      | Queens          |            33 |
| 724db7c6-cb2d-4503-b0d1-919ca38989fe |         1 |        12 | Manhattan      | Manhattan       |            36 |
| b7c23461-868a-4399-b826-3abf991175c3 |         3 |        18 | Manhattan      | Brooklyn        |            44 |
| 97edefa1-0f59-4b76-bfd6-eb1b7517f291 |         6 |         5 | Manhattan      | EWR             |            34 |
| c41f1097-018c-430c-9a12-397d1d988838 |         6 |         8 | Manhattan      | Queens          |            18 |
| 43850bbe-2adc-472e-a26e-cd0b7be4e4fb |         1 |        10 | Manhattan      | Manhattan       |            38 |
| e51d973e-c363-4f2c-974d-eb5744a03d83 |         1 |        18 | Queens         | Queens          |            24 |
| 6384e27c-a7ed-44d7-bc5d-1a26eb7575ab |         4 |        17 | Manhattan      | Queens          |            41 |
| ba551451-d3a5-45e2-9fd1-350e3852b521 |         4 |         7 | Queens         | Manhattan       |            34 |
| 112c49ff-51a9-44dc-a820-c33c3909e6b2 |         5 |        21 | Queens         | Manhattan       |            34 |
| 363be32a-637f-4ff6-b263-eac47d23ae53 |         4 |        13 | Queens         | Manhattan       |            41 |
| 10b8c8ef-bccf-4a31-b35d-fd9df4c9ddfb |         1 |         9 | Manhattan      | Brooklyn        |            33 |
| d05d18d3-34e4-4c82-87e2-8e9a06e857af |         0 |        18 | Queens         | Manhattan       |            40 |
| a044e0a8-7676-4e6c-9520-97770bde1528 |         2 |        14 | Queens         | Brooklyn        |            44 |
| e16f5300-990b-4e55-855b-e80f89b107c0 |         4 |        20 | Manhattan      | Manhattan       |            24 |
| 3a3c0d35-7c99-43ba-9579-b1dab77ab3f2 |         4 |        19 | Queens         | Manhattan       |            30 |
| 19394aa1-9cb9-4fef-a33c-06f2ec8de3dd |         1 |        21 | Queens         | Brooklyn        |            23 |
| af8b2ffa-cbad-41ec-a0bb-69342da57457 |         3 |        22 | Manhattan      | Brooklyn        |            30 |
| 237370c5-7724-4ebf-af97-3c936eb7cd40 |         6 |         0 | Manhattan      | Brooklyn        |            25 |
| b9e39ef6-cb7c-4a0b-9b97-6764f6dab262 |         5 |        21 | Manhattan      | Brooklyn        |            33 |
| 606a91fb-e70b-420b-86dd-4aa7b430ac58 |         6 |        21 | Queens         | Brooklyn        |            32 |
| 8e71d78d-a181-4a5d-be57-b279e02d9e35 |         5 |        19 | Manhattan      | Manhattan       |            35 |
| 68eaf83d-9510-4450-86be-72e65ac95e99 |         5 |        14 | Queens         | Manhattan       |            32 |
| 58133193-ba30-457f-a103-e334a4dfce9f |         6 |         8 | Queens         | Manhattan       |            38 |
| c745b966-2005-44ae-8d19-4cf4b8cb8250 |         2 |         6 | Queens         | Queens          |            41 |
| 12f9eaae-9189-4a1f-b7ad-036a3ff1e77c |         4 |        20 | Queens         | Manhattan       |            22 |
| 3c10739b-1075-4ef3-9fea-9d9610f91fbe |         3 |        19 | Manhattan      | Manhattan       |            32 |
| f8e13f99-58c5-46e5-999c-0b8f5275246a |         2 |        17 | Manhattan      | Manhattan       |            40 |
| abad5c8f-978b-4c4a-b8b1-a69936ae048e |         3 |        15 | Manhattan      | Queens          |            46 |
| e7fa06f6-0be9-42fd-95d7-4ed314e53471 |         2 |        12 | Manhattan      | Manhattan       |            36 |
| e5e18549-e639-4043-95fd-bdccaf67a49d |         4 |        14 | Manhattan      | Queens          |            24 |
| 2003953d-d0d7-4f45-a239-84335a9b9e67 |         5 |         0 | Queens         | Manhattan       |            27 |
| 30b7fa57-eee5-4484-a4b6-c5b4f3ded94b |         4 |        21 | Manhattan      | Manhattan       |            24 |
| 85bc04a9-ac3a-4035-b387-a13ccc2776a4 |         4 |        23 | Manhattan      | Queens          |            30 |
| f3a9b431-f7e4-453a-bedb-d6cd55d6b124 |         2 |        13 | Manhattan      | Queens          |            35 |
| b63b83da-d8fd-4eb0-b7ae-576af100db4b |         3 |         6 | Manhattan      | EWR             |            33 |
| b569e2f7-f123-4708-a88d-f3db34104f9c |         0 |        17 | Queens         | Manhattan       |            45 |
| 601931e3-2fcb-44da-9032-94ab9f4d4019 |         0 |        14 | Manhattan      | Brooklyn        |            22 |
| 1d4c7264-c064-412e-baa7-f484d4a4235b |         3 |        15 | Manhattan      | Manhattan       |            41 |
| 5a9e2786-b7a3-4531-9a4a-fa1dc219e85e |         5 |         7 | Manhattan      | Queens          |            38 |
| f9c14382-1724-4086-bad2-c9aa56b0078c |         3 |        16 | Manhattan      | EWR             |            62 |
| 51886b1d-c346-4717-8f0d-cefd00cf659d |         0 |        13 | Queens         | Manhattan       |            31 |
| 1af66a3d-474c-4dbb-9cae-c22a26f2f7b3 |         4 |        17 | Queens         | Brooklyn        |            73 |
| 872deb7a-17ff-4829-aa95-8cc36b9d82f2 |         5 |        20 | Manhattan      | Manhattan       |            27 |
| b6ba652a-06bb-497e-ae74-52e7469449ba |         5 |        21 | Manhattan      | Brooklyn        |            31 |
| 293f0041-aab9-4092-9034-9986b9cf002e |         2 |         0 | Manhattan      | Brooklyn        |            31 |
| ff3efcf0-84e3-4f0d-9d2f-e4c676848de3 |         2 |         1 | Brooklyn       | Manhattan       |            30 |
| fee29d47-dfcb-4d77-8659-0b0375cc86b3 |         2 |        12 | Queens         | Manhattan       |            32 |
| 2ca547b5-e927-444f-8489-7cb762778419 |         3 |        12 | Queens         | Manhattan       |            53 |
| 5751d4b0-740c-4d99-9dc9-9ef5234746b6 |         4 |        22 | Queens         | Manhattan       |            32 |
| 4a830fd2-6550-4270-8189-acdbad224605 |         3 |         1 | Manhattan      | Brooklyn        |            16 |
| 67a8601e-9224-4db0-9aa0-64e9f9fe8c3c |         6 |         1 | Manhattan      | Manhattan       |            32 |
| 828bdaf9-efdf-4516-bde7-701e8312fd24 |         1 |        19 | Queens         | Manhattan       |            18 |
| 68231db9-3b3c-4e55-8403-1c78f83bd0e3 |         1 |        11 | Queens         | Manhattan       |            28 |
| e25e3008-c24d-4b3b-8807-e5d0c788ac2f |         3 |        18 | Manhattan      | Queens          |            23 |
| 5cc56be8-2437-4c04-80a9-4dfc815cb05e |         6 |        18 | Manhattan      | Queens          |            23 |
| a94c31fd-32af-4724-8ec7-50b378af0b17 |         5 |         8 | Brooklyn       | Manhattan       |            24 |
| 9fc5c968-6310-4ef3-a41f-34d63751b0e8 |         4 |         5 | Manhattan      | Queens          |            27 |
| f4f0c2d0-a6c1-48cf-b806-bd20664128a3 |         5 |        17 | Queens         | Manhattan       |            37 |
+--------------------------------------+-----------+-----------+----------------+-----------------+---------------+

Waiting on bqjob_r343f694b03424994_0000016e41e60915_1 ... (49s) Current status: DONE

In [9]:
%%bash

bq extract \
--destination_format CSV \
--compression GZIP \
--field_delimiter ',' \
--print_header=false \
'event-driven-ml:new_york_taxi_trips.tlc_yellow_trips_2018_eval' gs://$BUCKET/eval/tlc_yellow_trips_2018-000*.csv

Waiting on bqjob_reaabd14f49d98e5_0000016e41e8a770_1 ... (66s) Current status: DONE